@model BeautyAndCare.Models.tblSlider

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Thêm Slider</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

@using (Html.BeginForm("Create", "adminSliders"))
{
    <input type="hidden" id="hdImgName" name="tblSlider.ImgSlider" />
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">

                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Tên Slider Vi</label>
                                <input class="form-control" name="tblSlider.NameSlider_vi" id="txtNameSlider_vi">
                            </div>
                            <div class="form-group">
                                <label>Tên Slider En</label>
                                <input class="form-control" name="tblSlider.NameSlider_en" id="txtNameSlider_en">
                            </div>
                           
                            <div class="form-group">
                                <label>Mô tả Slider vi</label>
                                <input class="form-control" name="tblSlider.ShortDes_vi" id="txtShortDes_vi">
                            </div>
                            <div class="form-group">
                                <label>Mô tả Slider en</label>
                                <input class="form-control" name="tblSlider.ShortDes_end" id="txtShortDes_end">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Trạng thái</label>

                               
                                <select class="form-control" name="tblSlider.StatusSlider">
                                    <option value="1">Hoạt động</option>
                                    <option value="0">Không hoạt động</option>

                                </select>
                            </div>
                            <div class="form-group">
                                <label>Hình đại diện </label>
                                <div class="row">
                                    <form id="dataimg" method="post" enctype="multipart/form-data">
                                        <div class="col-lg-10">
                                            <input class="form-control" id="getImg" type="file">
                                        </div>
                                    </form>

                                    <div class="col-lg-2">
                                        <input type="button" onclick="getLink()" value="Up ảnh" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <img src="~/Content/no-image-available.jpg" id="idImg" width="200" />
                                    </div>

                                </div>
                            </div>
                         
                            <div class="form-group">
                                <button type="submit" class="btn btn-default">Thêm</button>
                                <a href="#" class="btn btn-primary">Hủy</a>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->

    <!-- /.row -->
}

<script>
  

    function getLink() {
        var dataimg = new FormData();
        var files = $("#getImg").get(0).files;
        if (files.length > 0) {
            dataimg.append("HelpSectionImages", files[0]);
        }
        $.ajax({
            url: '@Url.Action("GetLink", "adminSliders")',
            type: "POST",
            processData: false,
            contentType: false,
            data: dataimg,
            success: function (response) {

                console.log(response);
                $('#idImg').attr("src", response.shorurl);
                $('#hdImgName').val(response.imgName);

            },
            error: function (er) {
                alert(er);
            }

        });
    }
    $("#getLinkFile").change(function () {
        var data = new FormData();
        var files = $("#getLinkFile").get(0).files;
        if (files.length > 0) {
            data.append("HelpSectionImages", files[0]);
        }
        $.ajax({
            url: '@Url.Action("GetLink", "adminSliders")',
            type: "POST",
            processData: false,
            contentType: false,
            data: data,
            success: function (response) {
                //code after success
                console.log(response);
                $('.link').text(response.fullurl);
            },
            error: function (er) {

            }

        });
    });

</script>