
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/LayouWeb.cshtml";
}


    <div class="container">
        <div class="row row-offcanvas row-offcanvas-left">
            <div class="f-container">

                <div class="f-ctn-center ">
                    @*<div class="productbreadcrumb">

                        <ol class="breadcrumb">

                            <li><a href="http://vell.vn">Trang chủ</a></li>


                            <li><a href="http://vell.vn/product.html">Sản Phẩm</a></li>


                            <li><a href="http://vell.vn/cham-soc-co-the-2-1-42105.html">CHĂM SÓC CƠ THỂ</a></li>


                            <li><a href="http://vell.vn/duong-min-2-1-64322.html">DƯỠNG MỊN</a></li>


                            <li><a href="#">KEM DƯỠNG TRẮNG BODY KJ STYLE BIKYAKU GEL - 150G</a></li>


                        </ol>
                    </div>*@

                    <div class="f-module-page">

                        <div class="f-module-page-body ">
                            <div class="f-product-view">
                               
                                <div class="f-product-view-info row">
                                    <div class="f-product-view-info-image col-md-7">
                                        <div id="gallery" class="image-thumb col-xs-3">
                                            <div class="roto sildeShow">
                                                <ul id="random">

                                                    <li>
                                                        <div class="pr-carol-item">

                                                            <a href="javascript:;" onclick="appendImage('http://upload2.webbnc.vn/uploadv2/web/98/985/product/2016/01/13/09/58/1452679307_duong-biyaku-1.jpg')" data-href='http://s2.webbnc.vn/uploadv2/web/98/985/product/2016/01/13/09/58/1452679307_duong-biyaku-1.jpg' title="dương biyaku 1">
                                                                <img src="http://s2.webbnc.vn/uploadv2/web/98/985/product/2016/01/13/09/58/1452679307_duong-biyaku-1.jpg" class="img-responsive" alt="dương biyaku 1" />
                                                            </a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="f-pr-image-zoom product-image col-xs-9">
                                            <div class="zoomWrapper">
                                                <img id="f-pr-image-zoom-id" src="http://s2.webbnc.vn/uploadv2/web/98/985/product/2016/01/13/09/58/1452679307_duong-biyaku-1.jpg" class="my-foto img-responsive BNC-image-add-cart-132717" alt="KEM DƯỠNG TRẮNG BODY KJ STYLE BIKYAKU GEL - 150G">
                                            </div>
                                        </div>

                                        <script type="text/javascript">
                                                function appendImage(img) {
                                                    $('#f-pr-image-zoom-id').attr('src', img);
                                                    $('#f-pr-image-zoom-id').attr('src', img);
                                                }
                                                $(document).ready(function () {


                                                    //
                                                    // $("#f-pr-image-zoom-id").bind("click", function(e) {
                                                    // 	alert(121);
                                                    // 	// var ez = $('#f-pr-image-zoom-id').data('elevateZoom');
                                                    // 	// $.fancybox(ez.getGalleryList());
                                                    // 	// return false;
                                                    // });
                                                    // 	//--------------
                                                    $("#f-pr-image-zoom-gallery").owlCarousel();

                                                });
                                        </script>
                                    </div>
                                    <div class="f-product-view-info-detail col-md-5">
                                        <div class="f-product-view-name">
                                            <h1>
                                                <span>KEM DƯỠNG TRẮNG BODY KJ STYLE BIKYAKU GEL - 150G</span>

                                            </h1>
                                            <br />
                                            <div class="short-info-view">
                                                <label>Mô tả vắn tắt</label>
                                                <div class="info-view padding-10">
                                                    <p><span style="color:rgb(0, 0, 0);"><span style="font-family:arial,helvetica,sans-serif"><span style="font-size:16px">Dưỡng trắng body KJ Style BIYAKU &nbsp;ngăn ngừa vi&ecirc;m nang l&ocirc;ng, t&ecirc; ch&acirc;n, da nứt nẻ, mụn trứng c&aacute;. C&oacute; thể ngăn chặn việc sản xuất melanin, ngăn chặn n&aacute;m sạm vết th&acirc;m đen . giữ cho da khỏe mạnh.&nbsp; Nu&ocirc;i dưỡng l&agrave;n da trắng s&aacute;ng . Gi&uacute;p l&agrave;m đều m&agrave;u da, v&agrave; dẫn đến m&agrave;u sắc da trắng hồng tự nhi&ecirc;n .</span></span></span></p>
                                                </div>
                                            </div>
                                            <div class="v2-rating">
                                                <div id="stars" data-text-login="Vui lòng đăng nhập trước khi đánh giá" data-is-login="0" onclick="relogin()" data-is-rater="" data-name="KEM DƯỠNG TRẮNG BODY KJ STYLE BIKYAKU GEL - 150G" data-id-product="132717" class="starrr" data-rating='0' style="font-size: 12px;color: #FFDD33;position: absolute;top: 5px;"></div>

                                                <div class="fb-share-button" data-href="http://vell.vn/kem-duong-body-kj-style-bikyaku-gel-150g-1-1-132717.html" data-layout="button_count"></div>
                                                <div style="margin-left: 63px;margin-top: -12px; display: none">
                                                    <span id="display-first-rating" style="font-size: 12px">Hãy trở thành người đầu tiên đánh giá sản phẩm này</span>

                                                    <span id="display-total-rating" style="font-size: 12px">(<i class="fa fa-user"></i> <span id="rate" style="font-size: 12px;">0</span>)</span>
                                                </div>
                                            </div>


                                            <div class="f-pr-view-tool">
                                                <ul class="no-margin no-padding">
                                                    <li><a href="javascript:;" class="like-product like-product-132717" data-is-info-page="1" data-like="2" data-name="KEM DƯỠNG TRẮNG BODY KJ STYLE BIKYAKU GEL - 150G" data-id="132717" data-text-like="Thích" data-text-unlike="Bỏ thích" data-login="Vui lòng đăng nhập trước <br/><a class='btn btn-success' href='http://vell.vn/user-login.html'>Đăng nhập</a>"><i class="fa fa-heart"></i> Thích</a></li>
                                                    <li style="display:none"><a href="javascript:;">So sánh</a></li>
                                                    <li>Lượt xem: 2961</li>
                                                </ul>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                        <div class="f-pr-view-info">
                                            <ul class="no-margin no-padding">
                                                <li class="key">Giá sản phẩm</li>
                                                <li class="value">
                                                    <span class="price">490.000 đ</span>
                                                </li>
                                                <li class="clearfix"></li>









                                            </ul>
                                            <div class="clearfix"></div>
                                        </div>


                                        <div class="f-pr-view-box-size">
                                            <span class="box-size-title">Số lượng</span>
                                            <div class="select-shop" id="shop-1">
                                                <select>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                    <option value="11">11</option>
                                                    <option value="12">12</option>
                                                    <option value="13">13</option>
                                                    <option value="14">14</option>
                                                    <option value="15">15</option>
                                                    <option value="16">16</option>
                                                    <option value="17">17</option>
                                                    <option value="18">18</option>
                                                    <option value="19">19</option>
                                                    <option value="20">20</option>
                                                    <option value="21">21</option>
                                                    <option value="22">22</option>
                                                    <option value="23">23</option>
                                                    <option value="24">24</option>
                                                    <option value="25">25</option>
                                                    <option value="26">26</option>
                                                    <option value="27">27</option>
                                                    <option value="28">28</option>
                                                    <option value="29">29</option>
                                                    <option value="30">30</option>
                                                    <option value="31">31</option>
                                                    <option value="32">32</option>
                                                    <option value="33">33</option>
                                                    <option value="34">34</option>
                                                    <option value="35">35</option>
                                                    <option value="36">36</option>
                                                    <option value="37">37</option>
                                                    <option value="38">38</option>
                                                    <option value="39">39</option>
                                                    <option value="40">40</option>
                                                    <option value="41">41</option>
                                                    <option value="42">42</option>
                                                    <option value="43">43</option>
                                                    <option value="44">44</option>
                                                    <option value="45">45</option>
                                                    <option value="46">46</option>
                                                    <option value="47">47</option>
                                                    <option value="48">48</option>
                                                    <option value="49">49</option>
                                                    <option value="50">50</option>
                                                    <option value="51">51</option>
                                                    <option value="52">52</option>
                                                    <option value="53">53</option>
                                                    <option value="54">54</option>
                                                    <option value="55">55</option>
                                                    <option value="56">56</option>
                                                    <option value="57">57</option>
                                                    <option value="58">58</option>
                                                    <option value="59">59</option>
                                                    <option value="60">60</option>
                                                    <option value="61">61</option>
                                                    <option value="62">62</option>
                                                    <option value="63">63</option>
                                                    <option value="64">64</option>
                                                    <option value="65">65</option>
                                                    <option value="66">66</option>
                                                    <option value="67">67</option>
                                                    <option value="68">68</option>
                                                    <option value="69">69</option>
                                                    <option value="70">70</option>
                                                    <option value="71">71</option>
                                                    <option value="72">72</option>
                                                    <option value="73">73</option>
                                                    <option value="74">74</option>
                                                    <option value="75">75</option>
                                                    <option value="76">76</option>
                                                    <option value="77">77</option>
                                                    <option value="78">78</option>
                                                    <option value="79">79</option>
                                                    <option value="80">80</option>
                                                    <option value="81">81</option>
                                                    <option value="82">82</option>
                                                    <option value="83">83</option>
                                                    <option value="84">84</option>
                                                    <option value="85">85</option>
                                                    <option value="86">86</option>
                                                    <option value="87">87</option>
                                                    <option value="88">88</option>
                                                    <option value="89">89</option>
                                                    <option value="90">90</option>
                                                    <option value="91">91</option>
                                                    <option value="92">92</option>
                                                    <option value="93">93</option>
                                                    <option value="94">94</option>
                                                    <option value="95">95</option>
                                                    <option value="96">96</option>
                                                    <option value="97">97</option>
                                                    <option value="98">98</option>
                                                    <option value="99">99</option>
                                                    <option value="100">100</option>
                                                </select>
                                            </div>
                                        </div>


                                        <a href="javascript:;" class="button-small" id="add-cart" data-price-float="490000.00.00" data-name="KEM DƯỠNG TRẮNG BODY KJ STYLE BIKYAKU GEL - 150G" data-product="132717">
                                            <i class="fa fa-shopping-cart"></i> Mua hàng
                                        </a>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>


                                <script type="text/javascript" src="http://vell.vn/themes/themes_custom//162/985/statics/scripts/zoomsl-3.0.min.js"></script>
                                <script type="text/javascript" src="http://vell.vn/themes/themes_custom//162/985/statics/scripts/newsScrollerDefault-rightToleft-bottomTotop.js"></script>
                                <script type="text/javascript">
                                        jQuery(function () {
                                            if (!$.fn.imagezoomsl) {

                                                $('.msg').show();
                                                return;
                                            }
                                            else $('.msg').hide();
                                            $('.my-foto').imagezoomsl({

                                                zoomrange: [1, 10],
                                                cursorshadeborder: "1px solid #000",
                                                magnifiereffectanimate: "fadeIn",
                                                magnifierpos: "left"
                                            });
                                        });
                                </script>
                                <div class="f-product-view-tab">
                                    <div class="f-product-view-tab-header">
                                        <ul id="f-pr-page-view-tabid" class="nav-tabs">
                                            <li class="active"><a href="#f-pr-view-01" data-toggle="tab">THÔNG TIN SẢN PHẨM</a></li>
                                            <li><a href="#f-pr-view-02" data-toggle="tab">Mô tả vắn tắt</a></li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="f-product-view-tab-body tab-content">
                                        <div class="border-view-tab">
                                            <div id="f-pr-view-01" class="tab-content tab-pane active">
                                                Mô tả
                                             </div>
                                            <div id="f-pr-view-02" class="tab-content tab-pane ">
                                                <p><span style="color:rgb(0, 0, 0);"><span style="font-family:arial,helvetica,sans-serif"><span style="font-size:16px">Dưỡng trắng body KJ Style BIYAKU  ngăn ngừa viêm nang lông, tê chân, da nứt nẻ, mụn trứng cá. Có thể ngăn chặn việc sản xuất melanin, ngăn chặn nám sạm vết thâm đen . giữ cho da khỏe mạnh.  Nuôi dưỡng làn da trắng sáng . Giúp làm đều màu da, và dẫn đến màu sắc da trắng hồng tự nhiên .</span></span></span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="f-product-view-tags">
                                    <span>Tags: <a href="http://vell.vn/tag/duong-body-kj-style-bikyaku-gel-150g" title="DƯỠNG BODY KJ STYLE BIKYAKU GEL - 150G" target="_blank">DƯỠNG BODY KJ STYLE BIKYAKU GEL - 150G</a></span>
                                </div>
                               
                                <div class="box_comment_detail" style="display: table; width: 100%; border: 1px solid #F1F1F1; margin-top: 15px">
                                    <div class="row_comment">
                                        <div class="portlet light bordered">
                                            <div class="portlet-body form">
                                                <div class="formReply" id="RootFormReply">
                                                    <div class="form-group">
                                                        <div class="col-md-5 row_input_title">
                                                            <input type="text" class="form-control" id="name_cmt" name="name_cmt" value="" placeholder="Họ và tên..." data-error="{title_error}">
                                                            <input type="text" class="form-control" id="email_cmt" name="email_cmt" value="" placeholder="Email..." data-error="{title_error}" style="margin-top: 25px;">
                                                        </div>
                                                        <div class="col-md-7">
                                                            <div class="text_aria">
                                                                <textarea id="comment" class="form-control " minlength="5" rows="4" name="comment" placeholder="Comment..."></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-1">
                                                            <button class="BNC-comment-product btn btn-success" style="margin-top: 20px;">Gửi đi</button>
                                                            <input type="hidden" name="id_product" id="id_product" value="132717" />
                                                            <input type="hidden" name="id_parent" id="id_parent" value="0" />
                                                            <input type="hidden" name="username" id="username" value="" />
                                                            <input type="hidden" name="email_user" id="email_user" value="" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                               
                                <div class="f-page-split">
                                    <div class="f-page-split-title"><h3>Sản phẩm cùng danh mục</h3></div>
                                    <div class="f-page-split-body">
                                        <div class="f-product-view-other">
                                            <div class="f-product-viewid f-product row">
                                                <div class="col-sm-3 col-xs-12">
                                                    <div class="f-pr-item">
                                                        <div class="f-pr-item-compare"><span>So sánh</span></div>

                                                        <div class="f-pr-item-img">
                                                            <a data-id="437447" data-name="Plus Hyaluronic Solute Serum" data-price-float="450000.00.00" data-title="Sản phẩm cùng danh mục" data-position="1" href="http://vell.vn/plus-hyaluronic-solute-serum-1-1-437447.html" title="Plus Hyaluronic Solute Serum">
                                                                <img alt="Plus Hyaluronic Solute Serum" src="http://s2.webbnc.vn/uploadv2/web/98/985/product/2016/09/19/08/20/1474273514_img_0644.jpg.jpg_resize268x268.jpg" onerror="this.onerror=null;this.src='http://upload2.webbnc.vn/view.php?image=uploadv2/web/98/985/product/2016/09/19/08/20/1474273514_img_0644.jpg.jpg&mode=resize&size=268x268'" class="img-responsive">
                                                            </a>
                                                        </div>
                                                        <div class="f-pr-item-boxdetail">
                                                            <h3> <a data-id="437447" data-name="Plus Hyaluronic Solute Serum" data-price-float="450000.00.00" data-title="Sản phẩm cùng danh mục" data-position="1" class="f-pr-item-name" href="http://vell.vn/plus-hyaluronic-solute-serum-1-1-437447.html" title="Plus Hyaluronic Solute Serum">Plus Hyaluronic Solute Serum</a> </h3>
                                                            <div class="v2-home-pr-item-price-gr">

                                                                <p class="f-pr-item-price">450.000 đ</p>
                                                            </div>
                                                            <div class="f-pr-item-action">
                                                                <a href="javascript:void(0)" class="BNC-add-cart v2-home-pr-item-action-buy add-cart" data-price-float="450000.00.00" data-name="Plus Hyaluronic Solute Serum" data-type="tab-home" data-price="Array" data-product="437447" data-quantity="1" data-total-quantity="100"> Mua nhanh</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                @*<script type="text/javascript">
                                                        var tmp_item = {};
                                                        tmp_item['list'] = "Sản phẩm cùng danh mục";// Trang danh mục DANH MỤC
                                                        tmp_item['id'] = "437447";// ID sản phẩm
                                                        tmp_item['name'] = "Plus Hyaluronic Solute Serum";// Tên sản phẩm
                                                        tmp_item['price'] = "450000.00.00";// Giá
                                                        tmp_item['position'] = 1;// String vị trí hiển thị /tang tu 1 -> xx
                                                        productList.push(tmp_item);
                                                </script>*@

                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
    </div>




