<footer class="footer">
    <div class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="menu-bottom col-xs-8">
                    <div class="col-sm-4">
                        <div class="footer-box">
                            <h5>Dịch Vụ Khách Hàng</h5>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="http://vell.vn/trang-contact.html">Liên Hệ</a>
                                </li>
                                <li>
                                    <a href="http://vell.vn/nhan-hang-va-thanh-toan-1-7-688.html">Nhận hàng và Thanh Toán</a>
                                </li>
                                <li>
                                    <a href="http://vell.vn/huong-dan-dat-hang-1-7-689.html">Hướng dẫn đặt hàng</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="footer-box">
                            <h5>Về Vellbeauty</h5>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="http://vell.vn/review-ve-san-pham-2-1-42106.html">Review về sản phẩm</a>
                                </li>
                                <li>
                                    <a href="http://vell.vn/beauty-video-2-9-4714.html">Beauty Video</a>
                                </li>
                                <li>
                                    <a href="http://vell.vn/tin-tuc-2-2-7617.html">TIn Tức</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="footer-box">
                            <h5>Facebook</h5>
                            <div class="fb-page" data-href="https://www.facebook.com/vellbeauty67/?ref=hl" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"></div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-2 social">
                    <h4 class="footer-title-text">Kết nối với chúng tôi</h4>
                    <ul>
                        <li><a href="#" class="icon i-socGooglePlus">Google+</a></li>
                        <li><a href="https://www.facebook.com/VellBeauty-Mua-s%E1%BA%AFm-h%C3%A0ng-n%E1%BB%99i-%C4%91%E1%BB%8Ba-Nh%E1%BA%ADt-1592851657642622/" class="icon i-socFacebook">Facebook</a></li>
                        <li><a href="#" class="icon i-socInstagram">Instagram</a></li>
                        <li><a href="#" class="icon i-socYoutube">Youtube</a></li>
                    </ul>
                </div>

                <div class="col-xs-2 payment">
                    <h4 class="footer-title-text">Thanh toán</h4>
                    <ul>
                        <li class="icon2 payMasterCard"></li>
                        <li class="icon2 payVISA"></li>
                        <li class="icon2 payCOD"></li>
                        <li class="icon2 pay123"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-content">
        <div class="container">
            <div class="row">
                <p> </p>

                <p> </p>
            </div>
        </div>
    </div>

    <div class="copyright">
        <div class="container">
            <div class="copy-content pull-right">
                Thiêt kế bởi <a target="_blank" href="http://webbnc.net">Webbnc</a> Việt Nam
            </div>
        </div>
    </div>
</footer>
