
<header class="header">
    <div id="main-header_" class="container_">
        <div class="header-top_">
            <div id="logo">
                <a href="http://vell.vn" title="Logo title" rel="nofollow" class="logo">

                    <img src="http://s2.webbnc.vn/uploadv2/web/98/985/news/2016/02/16/09/07/1455613894_banner-dau.png" width="1349" height="145" class="img-responsive" alt="Logo" />

                </a>
            </div>

            <ul class="login-bar">
                <li class="login1"> <a href="http://vell.vn/user-login.html" rel="nofollow"><span class="fa fa-sign-in"></span> Đăng nhập</a> </li>
                <li class="regis"> <a href="http://vell.vn/user-regis.html" rel="nofollow"><span class="fa fa-user"></span> Đăng ký</a> </li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div id="menu-gadget" class="menu-gadget">
            <div id="menu-icon" class="menu-icon">Danh mục sản phẩm</div>

            <ul class="menu">
                <li>
                    <a class="firstlink" href="" title="">TRANG CHỦ</a>
                </li>
                <li class="parent">
                    <a class="firstlink" href="http://vell.vn/cham-soc-da-2-1-42104.html" title="">CHĂM SÓC DA</a>
                    <ul class="top-menu-sub">
                        <li>


                            <a class="" href="" title="">Dưỡng mắt</a>

                        </li>
                        <li>


                            <a class="" href="" title="">Trị mụn</a>

                        </li>
                        <li>


                            <a class="" href="http://vell.vn/mat-na-2-1-64329.html" title="">Mặt nạ</a>

                        </li>
                        <li>


                            <a class="" href="http://vell.vn/dau-tay-trang-2-1-64331.html" title="">Dầu tẩy trang</a>

                        </li>
                        <li>


                            <a class="" href="http://vell.vn/tay-da-chet-2-1-64332.html" title="">Tẩy da chết</a>

                        </li>
                        <li>


                            <a class="" href="http://vell.vn/sua-rua-mat-2-1-64333.html" title="">Sữa rửa mặt</a>

                        </li>
                        <li>


                            <a class="" href="http://vell.vn/chong-nang-2-1-64334.html" title="">Chống nắng</a>

                        </li>
                        <li>


                            <a class="" href="http://vell.vn/mat-2-1-64313.html" title="">Mắt</a>

                        </li>
                        <li>


                            <a class="" href="" title="">Trị nám, tàn nhang</a>

                        </li>
                        <li>


                            <a class="" href="http://vell.vn/chong-lao-hoa-2-1-64336.html" title="">Chống lão hóa</a>

                        </li>
                        <li>


                            <a class="" href="http://vell.vn/duong-da-mat-2-1-64343.html" title="">Dưỡng da mặt</a>

                        </li>
                    </ul>
                </li>
                <li class="parent">
                    <a class="firstlink" href="http://vell.vn/cham-soc-body-2-1-42105.html" title="">CHĂM SÓC BODY</a>
                    <ul class="top-menu-sub">
                        <li>


                            <a class="" href="http://vell.vn/duong-trang-2-1-59508.html" title="">Dưỡng trắng</a>

                        </li>
                        <li>


                            <a class="" href="http://vell.vn/duong-min-2-1-64322.html" title="">Dưỡng  mịn</a>

                        </li>
                    </ul>
                </li>
                <li class="parent">
                    <a class="firstlink" href="http://vell.vn/tp-chuc-nang-2-1-42107.html" title="">TP CHỨC NĂNG</a>
                    <ul class="top-menu-sub">
                        <li>


                            <a class="" href="http://vell.vn/dang-bot-2-1-64345.html" title="">Dạng bột</a>

                        </li>
                        <li>


                            <a class="" href="http://vell.vn/dang-vien-2-1-64346.html" title="">Dạng viên</a>

                        </li>
                        <li>


                            <a class="" href="" title="">Dạng nước</a>

                        </li>
                    </ul>
                </li>
                <li>
                    <a class="firstlink" href="http://vell.vn/me-be-2-1-47820.html" title="">MẸ & BÉ</a>
                </li>
                <li>
                    <a class="firstlink" href="http://vell.vn/ve-vellbeauty-1-7-1332.html" title="">VỀ VELLBEAUTY</a>
                </li>
                <li>
                    <a class="firstlink" href="http://vell.vn/trang-contact.html" title="">LIÊN HỆ</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="f-menutop">
        <div class="container">
            <div class="row">
                <ul class="f-menutop-ul home">
                    <li>
                        <a class="firstlink" href="" title="">TRANG CHỦ</a>
                    </li>
                    <li class="parent">
                        <a class="firstlink" href="http://vell.vn/cham-soc-da-2-1-42104.html" title="">CHĂM SÓC DA</a>
                        <ul class="top-menu-sub">
                            <li>


                                <a class="" href="" title="">Dưỡng mắt</a>

                            </li>
                            <li>


                                <a class="" href="" title="">Trị mụn</a>

                            </li>
                            <li>


                                <a class="" href="http://vell.vn/mat-na-2-1-64329.html" title="">Mặt nạ</a>

                            </li>
                            <li>


                                <a class="" href="http://vell.vn/dau-tay-trang-2-1-64331.html" title="">Dầu tẩy trang</a>

                            </li>
                            <li>


                                <a class="" href="http://vell.vn/tay-da-chet-2-1-64332.html" title="">Tẩy da chết</a>

                            </li>
                            <li>


                                <a class="" href="http://vell.vn/sua-rua-mat-2-1-64333.html" title="">Sữa rửa mặt</a>

                            </li>
                            <li>


                                <a class="" href="http://vell.vn/chong-nang-2-1-64334.html" title="">Chống nắng</a>

                            </li>
                            <li>


                                <a class="" href="http://vell.vn/mat-2-1-64313.html" title="">Mắt</a>

                            </li>
                            <li>


                                <a class="" href="" title="">Trị nám, tàn nhang</a>

                            </li>
                            <li>


                                <a class="" href="http://vell.vn/chong-lao-hoa-2-1-64336.html" title="">Chống lão hóa</a>

                            </li>
                            <li>


                                <a class="" href="http://vell.vn/duong-da-mat-2-1-64343.html" title="">Dưỡng da mặt</a>

                            </li>
                        </ul>
                    </li>
                    <li class="parent">
                        <a class="firstlink" href="http://vell.vn/cham-soc-body-2-1-42105.html" title="">CHĂM SÓC BODY</a>
                        <ul class="top-menu-sub">
                            <li>


                                <a class="" href="http://vell.vn/duong-trang-2-1-59508.html" title="">Dưỡng trắng</a>

                            </li>
                            <li>


                                <a class="" href="http://vell.vn/duong-min-2-1-64322.html" title="">Dưỡng  mịn</a>

                            </li>
                        </ul>
                    </li>
                    <li class="parent">
                        <a class="firstlink" href="http://vell.vn/tp-chuc-nang-2-1-42107.html" title="">TP CHỨC NĂNG</a>
                        <ul class="top-menu-sub">
                            <li>


                                <a class="" href="http://vell.vn/dang-bot-2-1-64345.html" title="">Dạng bột</a>

                            </li>
                            <li>


                                <a class="" href="http://vell.vn/dang-vien-2-1-64346.html" title="">Dạng viên</a>

                            </li>
                            <li>


                                <a class="" href="" title="">Dạng nước</a>

                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="firstlink" href="http://vell.vn/me-be-2-1-47820.html" title="">MẸ & BÉ</a>
                    </li>
                    <li>
                        <a class="firstlink" href="http://vell.vn/ve-vellbeauty-1-7-1332.html" title="">VỀ VELLBEAUTY</a>
                    </li>
                    <li>
                        <a class="firstlink" href="http://vell.vn/trang-contact.html" title="">LIÊN HỆ</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="header-adv">
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-xs-12">
                    <a class="adv-left" href="" title="QC VT5">
                        <img class="img-responsive" src="http://s2.webbnc.vn/uploadv2/web/98/985/adv/2016/02/22/10/01/1456135567_137.png" width='100%' alt="QC VT5" />
                    </a>

                </div>

                <div class="col-sm-3 col-xs-12">
                    <div id="search-box">
                        <!-- <form class="navbar-form" role="search"> -->
                        <div class="input-group-btn search-basic">
                            <select class="form-control " name="BNC_searchCategory">
                                <option value="product">Sản phẩm</option>
                                <option value="news">Tin tức</option>
                                <option value="album">Album</option>
                                <option value="video">Video</option>
                                <option value="recruit">Tuyển dụng</option>
                            </select>
                        </div>

                        <input type="text" class="form-control search-field" name="BNC_txt_search" id="BNC_txt_search" value="" />

                        <a href="javascript:void(0);" class="search-button" id="BNC_btn_search">
                            <span class="hide">Search</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

