<div class="clearfix"></div>
<div class="clearfix"></div>
<div class="v2-home-catepr">
    <div class="container">
        <div class="row">
            <div class="v2-home-catepr-right">
                <div class="v2-home-catepr-title">
                    <h2>THỰC PHẨM CHỨC NĂNG</h2>
                </div>

                <div class="tab-content">


                    <div class="v2-home-catepr-showul owl-carousel-cate-5" id="product-content-42107">
                        <div class="v2-home-catepr-showli" id="like-product-item-76073">
                            <div class="v2-home-catepr-showul-item">
                                <div class="f-pr-item-img">
                                    <a data-id="76073" data-name="KUWA Collagen Q10 - Nhật bản" data-price-float="550000.00.00" data-title="THỰC PHẨM CHỨC NĂNG" data-position="1" href="http://vell.vn/kuwa-collagen-q10-nhat-ban-1-1-76073.html" title="KUWA Collagen Q10 - Nhật bản"><img alt="KUWA Collagen Q10 - Nhật bản" src="http://s2.webbnc.vn/uploadv2/web/98/985/product/2015/10/23/11/53/1445575711_46.png" id="f-pr-image-zoom-id-cate-76073" class="img-responsive BNC-image-add-cart-76073" /></a>

                                </div>

                                <div class="f-pr-item-boxdetail">
                                    <h3><a data-id="76073" data-name="KUWA Collagen Q10 - Nhật bản" data-price-float="550000.00.00" data-title="THỰC PHẨM CHỨC NĂNG" data-position="1" class="f-pr-item-name" href="http://vell.vn/kuwa-collagen-q10-nhat-ban-1-1-76073.html" title="KUWA Collagen Q10 - Nhật bản">KUWA Collagen Q10 - Nhật bản</a></h3>

                                    <div class="f-pr-item-price-gr">

                                        <p class="f-pr-item-price">550.000 đ</p>
                                    </div>

                                    <div id="stars" data-text-login="Vui lòng đăng nhập trước khi đánh giá" data-is-login="0" onclick="relogin()" data-is-rater="" data-name="KUWA Collagen Q10 - Nhật bản" data-id-product="76073" class="starrr" data-rating='0'></div>

                                    <div class="f-pr-item-action">
                                        <a data-id="76073" data-name="KUWA Collagen Q10 - Nhật bản" data-price-float="550000.00.00" data-title="THỰC PHẨM CHỨC NĂNG" data-position="1" data-pjax="#fast-container" data-product-id="76073" class="quickview nbh-popup-with-move-anim" data-href="#fast-dialog" href="http://vell.vn/kuwa-collagen-q10-nhat-ban-1-1-76073.html">Xem nhanh</a>
                                        <a href="javascript:void(0)" class="add-cart BNC-add-cart v2-home-pr-item-action-buy " data-price-float="550000.00.00" data-name="KUWA Collagen Q10 - Nhật bản" data-type="tab-home" data-price="Array" data-product="76073" data-quantity="1" data-total-quantity="100">Đặt hàng</a>
                                    </div>
                                </div>



                            </div>
                        </div>
                        <div class="v2-home-catepr-showli" id="like-product-item-75601">
                            <div class="v2-home-catepr-showul-item">
                                <div class="f-pr-item-img">
                                    <a data-id="75601" data-name="Bột giảm cân Bonita Graseed" data-price-float="500000.00.00" data-title="THỰC PHẨM CHỨC NĂNG" data-position="2" href="http://vell.vn/bot-ngu-coc-giam-can-bonita-graseed-nhat-ban-1-1-75601.html" title="Bột giảm cân Bonita Graseed"><img alt="Bột giảm cân Bonita Graseed" src="http://s2.webbnc.vn/uploadv2/web/98/985/product/2015/10/21/05/20/1445422551_hinh-giam-can-7.png" id="f-pr-image-zoom-id-cate-75601" class="img-responsive BNC-image-add-cart-75601" /></a>

                                </div>

                                <div class="f-pr-item-boxdetail">
                                    <h3><a data-id="75601" data-name="Bột giảm cân Bonita Graseed" data-price-float="500000.00.00" data-title="THỰC PHẨM CHỨC NĂNG" data-position="2" class="f-pr-item-name" href="http://vell.vn/bot-ngu-coc-giam-can-bonita-graseed-nhat-ban-1-1-75601.html" title="Bột giảm cân Bonita Graseed">Bột giảm cân Bonita Graseed</a></h3>

                                    <div class="f-pr-item-price-gr">

                                        <p class="f-pr-item-price">500.000 đ</p>
                                    </div>

                                    <div id="stars" data-text-login="Vui lòng đăng nhập trước khi đánh giá" data-is-login="0" onclick="relogin()" data-is-rater="" data-name="Bột giảm cân Bonita Graseed" data-id-product="75601" class="starrr" data-rating='0'></div>

                                    <div class="f-pr-item-action">
                                        <a data-id="75601" data-name="Bột giảm cân Bonita Graseed" data-price-float="500000.00.00" data-title="THỰC PHẨM CHỨC NĂNG" data-position="2" data-pjax="#fast-container" data-product-id="75601" class="quickview nbh-popup-with-move-anim" data-href="#fast-dialog" href="http://vell.vn/bot-ngu-coc-giam-can-bonita-graseed-nhat-ban-1-1-75601.html">Xem nhanh</a>
                                        <a href="javascript:void(0)" class="add-cart BNC-add-cart v2-home-pr-item-action-buy " data-price-float="500000.00.00" data-name="Bột giảm cân Bonita Graseed" data-type="tab-home" data-price="Array" data-product="75601" data-quantity="1" data-total-quantity="100">Đặt hàng</a>
                                    </div>
                                </div>



                            </div>
                        </div>
                        <div class="v2-home-catepr-showli" id="like-product-item-64385">
                            <div class="v2-home-catepr-showul-item">
                                <div class="f-pr-item-img">
                                    <a data-id="64385" data-name="COLLAGEN HANAMAI CÁ - NHẬT BẢN" data-price-float="300000.00.00" data-title="THỰC PHẨM CHỨC NĂNG" data-position="3" href="http://vell.vn/cham-soc-da-03-1-1-64385.html" title="COLLAGEN HANAMAI CÁ - NHẬT BẢN"><img alt="COLLAGEN HANAMAI CÁ - NHẬT BẢN" src="http://s2.webbnc.vn/uploadv2/web/98/985/product/2015/10/22/10/28/1445484241_collagen5.png" id="f-pr-image-zoom-id-cate-64385" class="img-responsive BNC-image-add-cart-64385" /></a>

                                </div>

                                <div class="f-pr-item-boxdetail">
                                    <h3><a data-id="64385" data-name="COLLAGEN HANAMAI CÁ - NHẬT BẢN" data-price-float="300000.00.00" data-title="THỰC PHẨM CHỨC NĂNG" data-position="3" class="f-pr-item-name" href="http://vell.vn/cham-soc-da-03-1-1-64385.html" title="COLLAGEN HANAMAI CÁ - NHẬT BẢN">COLLAGEN HANAMAI CÁ - NHẬT BẢN</a></h3>

                                    <div class="f-pr-item-price-gr">

                                        <p class="f-pr-item-price">300.000 đ</p>
                                    </div>

                                    <div id="stars" data-text-login="Vui lòng đăng nhập trước khi đánh giá" data-is-login="0" onclick="relogin()" data-is-rater="" data-name="COLLAGEN HANAMAI CÁ - NHẬT BẢN" data-id-product="64385" class="starrr" data-rating='0'></div>

                                    <div class="f-pr-item-action">
                                        <a data-id="64385" data-name="COLLAGEN HANAMAI CÁ - NHẬT BẢN" data-price-float="300000.00.00" data-title="THỰC PHẨM CHỨC NĂNG" data-position="3" data-pjax="#fast-container" data-product-id="64385" class="quickview nbh-popup-with-move-anim" data-href="#fast-dialog" href="http://vell.vn/cham-soc-da-03-1-1-64385.html">Xem nhanh</a>
                                        <a href="javascript:void(0)" class="add-cart BNC-add-cart v2-home-pr-item-action-buy " data-price-float="300000.00.00" data-name="COLLAGEN HANAMAI CÁ - NHẬT BẢN" data-type="tab-home" data-price="Array" data-product="64385" data-quantity="1" data-total-quantity="100">Đặt hàng</a>
                                    </div>
                                </div>



                            </div>
                        </div>
                        <div class="v2-home-catepr-showli" id="like-product-item-69167">
                            <div class="v2-home-catepr-showul-item">
                                <div class="f-pr-item-img">
                                    <a data-id="69167" data-name="VITAMIN BỔ SUNG KHOÁNG VI LƯỢNG VÀ TĂNG ĐỀ KHÁNG" data-price-float="350000.00.00" data-title="THỰC PHẨM CHỨC NĂNG" data-position="4" href="http://vell.vn/kem-duong-da-05-1-1-69167.html" title="VITAMIN BỔ SUNG KHOÁNG VI LƯỢNG VÀ TĂNG ĐỀ KHÁNG"><img alt="VITAMIN BỔ SUNG KHOÁNG VI LƯỢNG VÀ TĂNG ĐỀ KHÁNG" src="http://s2.webbnc.vn/uploadv2/web/98/985/product/2015/10/15/11/36/1444883557_07081210_53bb6142630c9.jpg" id="f-pr-image-zoom-id-cate-69167" class="img-responsive BNC-image-add-cart-69167" /></a>

                                </div>

                                <div class="f-pr-item-boxdetail">
                                    <h3><a data-id="69167" data-name="VITAMIN BỔ SUNG KHOÁNG VI LƯỢNG VÀ TĂNG ĐỀ KHÁNG" data-price-float="350000.00.00" data-title="THỰC PHẨM CHỨC NĂNG" data-position="4" class="f-pr-item-name" href="http://vell.vn/kem-duong-da-05-1-1-69167.html" title="VITAMIN BỔ SUNG KHOÁNG VI LƯỢNG VÀ TĂNG ĐỀ KHÁNG">VITAMIN BỔ SUNG KHOÁNG VI LƯỢNG VÀ TĂNG ĐỀ KHÁNG</a></h3>

                                    <div class="f-pr-item-price-gr">

                                        <p class="f-pr-item-price">350.000 đ</p>
                                    </div>

                                    <div id="stars" data-text-login="Vui lòng đăng nhập trước khi đánh giá" data-is-login="0" onclick="relogin()" data-is-rater="" data-name="VITAMIN BỔ SUNG KHOÁNG VI LƯỢNG VÀ TĂNG ĐỀ KHÁNG" data-id-product="69167" class="starrr" data-rating='0'></div>

                                    <div class="f-pr-item-action">
                                        <a data-id="69167" data-name="VITAMIN BỔ SUNG KHOÁNG VI LƯỢNG VÀ TĂNG ĐỀ KHÁNG" data-price-float="350000.00.00" data-title="THỰC PHẨM CHỨC NĂNG" data-position="4" data-pjax="#fast-container" data-product-id="69167" class="quickview nbh-popup-with-move-anim" data-href="#fast-dialog" href="http://vell.vn/kem-duong-da-05-1-1-69167.html">Xem nhanh</a>
                                        <a href="javascript:void(0)" class="add-cart BNC-add-cart v2-home-pr-item-action-buy " data-price-float="350000.00.00" data-name="VITAMIN BỔ SUNG KHOÁNG VI LƯỢNG VÀ TĂNG ĐỀ KHÁNG" data-type="tab-home" data-price="Array" data-product="69167" data-quantity="1" data-total-quantity="100">Đặt hàng</a>
                                    </div>
                                </div>



                            </div>
                        </div>
                        <div class="v2-home-catepr-showli" id="like-product-item-85209">
                            <div class="v2-home-catepr-showul-item">
                                <div class="f-pr-item-img">
                                    <a data-id="85209" data-name="VIÊN UỐNG ĐẸP DA, TRẮNG DA, HỖ TRỢ ĐIỀU TRỊ SẠM NÁM DA" data-price-float="620000.00.00" data-title="THỰC PHẨM CHỨC NĂNG" data-position="5" href="http://vell.vn/vien-uong-trang-da-mo-vet-sam-nam-da-1-1-85209.html" title="VIÊN UỐNG ĐẸP DA, TRẮNG DA, HỖ TRỢ ĐIỀU TRỊ SẠM NÁM DA"><img alt="VIÊN UỐNG ĐẸP DA, TRẮNG DA, HỖ TRỢ ĐIỀU TRỊ SẠM NÁM DA" src="http://s2.webbnc.vn/uploadv2/web/98/985/product/2016/06/22/11/43/1466596136_03181530_56eba08ad0d36_800.jpg" id="f-pr-image-zoom-id-cate-85209" class="img-responsive BNC-image-add-cart-85209" /></a>

                                </div>

                                <div class="f-pr-item-boxdetail">
                                    <h3><a data-id="85209" data-name="VIÊN UỐNG ĐẸP DA, TRẮNG DA, HỖ TRỢ ĐIỀU TRỊ SẠM NÁM DA" data-price-float="620000.00.00" data-title="THỰC PHẨM CHỨC NĂNG" data-position="5" class="f-pr-item-name" href="http://vell.vn/vien-uong-trang-da-mo-vet-sam-nam-da-1-1-85209.html" title="VIÊN UỐNG ĐẸP DA, TRẮNG DA, HỖ TRỢ ĐIỀU TRỊ SẠM NÁM DA">VIÊN UỐNG ĐẸP DA, TRẮNG DA, HỖ TRỢ ĐIỀU TRỊ SẠM NÁM DA</a></h3>

                                    <div class="f-pr-item-price-gr">

                                        <p class="f-pr-item-price">620.000 đ</p>
                                    </div>

                                    <div id="stars" data-text-login="Vui lòng đăng nhập trước khi đánh giá" data-is-login="0" onclick="relogin()" data-is-rater="" data-name="VIÊN UỐNG ĐẸP DA, TRẮNG DA, HỖ TRỢ ĐIỀU TRỊ SẠM NÁM DA" data-id-product="85209" class="starrr" data-rating='0'></div>

                                    <div class="f-pr-item-action">
                                        <a data-id="85209" data-name="VIÊN UỐNG ĐẸP DA, TRẮNG DA, HỖ TRỢ ĐIỀU TRỊ SẠM NÁM DA" data-price-float="620000.00.00" data-title="THỰC PHẨM CHỨC NĂNG" data-position="5" data-pjax="#fast-container" data-product-id="85209" class="quickview nbh-popup-with-move-anim" data-href="#fast-dialog" href="http://vell.vn/vien-uong-trang-da-mo-vet-sam-nam-da-1-1-85209.html">Xem nhanh</a>
                                        <a href="javascript:void(0)" class="add-cart BNC-add-cart v2-home-pr-item-action-buy " data-price-float="620000.00.00" data-name="VIÊN UỐNG ĐẸP DA, TRẮNG DA, HỖ TRỢ ĐIỀU TRỊ SẠM NÁM DA" data-type="tab-home" data-price="Array" data-product="85209" data-quantity="1" data-total-quantity="100">Đặt hàng</a>
                                    </div>
                                </div>



                            </div>
                        </div>
                        <div class="v2-home-catepr-showli" id="like-product-item-64384">
                            <div class="v2-home-catepr-showul-item">
                                <div class="f-pr-item-img">
                                    <a data-id="64384" data-name="Collagen Hanamai trà xanh" data-price-float="300000.00.00" data-title="THỰC PHẨM CHỨC NĂNG" data-position="6" href="http://vell.vn/cham-soc-da-04-1-1-64384.html" title="Collagen Hanamai trà xanh"><img alt="Collagen Hanamai trà xanh" src="http://s2.webbnc.vn/uploadv2/web/98/985/product/2015/10/22/10/20/1445483776_hanamai-tra-xanh.png" id="f-pr-image-zoom-id-cate-64384" class="img-responsive BNC-image-add-cart-64384" /></a>

                                </div>

                                <div class="f-pr-item-boxdetail">
                                    <h3><a data-id="64384" data-name="Collagen Hanamai trà xanh" data-price-float="300000.00.00" data-title="THỰC PHẨM CHỨC NĂNG" data-position="6" class="f-pr-item-name" href="http://vell.vn/cham-soc-da-04-1-1-64384.html" title="Collagen Hanamai trà xanh">Collagen Hanamai trà xanh</a></h3>

                                    <div class="f-pr-item-price-gr">

                                        <p class="f-pr-item-price">300.000 đ</p>
                                    </div>

                                    <div id="stars" data-text-login="Vui lòng đăng nhập trước khi đánh giá" data-is-login="0" onclick="relogin()" data-is-rater="" data-name="Collagen Hanamai trà xanh" data-id-product="64384" class="starrr" data-rating='0'></div>

                                    <div class="f-pr-item-action">
                                        <a data-id="64384" data-name="Collagen Hanamai trà xanh" data-price-float="300000.00.00" data-title="THỰC PHẨM CHỨC NĂNG" data-position="6" data-pjax="#fast-container" data-product-id="64384" class="quickview nbh-popup-with-move-anim" data-href="#fast-dialog" href="http://vell.vn/cham-soc-da-04-1-1-64384.html">Xem nhanh</a>
                                        <a href="javascript:void(0)" class="add-cart BNC-add-cart v2-home-pr-item-action-buy " data-price-float="300000.00.00" data-name="Collagen Hanamai trà xanh" data-type="tab-home" data-price="Array" data-product="64384" data-quantity="1" data-total-quantity="100">Đặt hàng</a>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>

                    <script type="text/javascript">
                                            $(document).ready(function () {
                                                $(".owl-carousel-cate-5").owlCarousel({
                                                    items: 4, //10 items above 1000px browser width
                                                    itemsDesktop: [1000, 4], //5 items between 1000px and 901px
                                                    itemsDesktopSmall: [900, 3], // betweem 900px and 601px
                                                    itemsTablet: [600, 2], //2 items between 600 and 0
                                                    itemsMobile: false, // itemsMobile disabled - inherit from itemsTablet option
                                                    pagination: false,
                                                    navigation: true,
                                                });
                                            });

                                            $(document).ready(function () {
                                                $('.tab-content .owl-carousel-cate-5 .owl-controls .owl-prev').append('<i class="fa fa-chevron-left"></i>');
                                                $('.tab-content .owl-carousel-cate-5 .owl-controls .owl-next').append('<i class="fa fa-chevron-right"></i>');
                                            });
                    </script>
                    <a href="http://vell.vn/thuc-pham-chuc-nang-2-1-42107.html" class="view-more hidden-sm hidden-xs">Xem tất cả</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
