<div class="clearfix"></div>
<div class="clearfix"></div>
<div class="v2-home-catepr">
    <div class="container">
        <div class="row">
            <div class="v2-home-catepr-right">
                <div class="v2-home-catepr-title">
                    <h2>TRANG ĐIỂM</h2>
                </div>

                <div class="tab-content">


                    <div class="v2-home-catepr-showul owl-carousel-cate-4" id="product-content-47820">
                        <div class="v2-home-catepr-showli" id="like-product-item-153207">
                            <div class="v2-home-catepr-showul-item">
                                <div class="f-pr-item-img">
                                    <a data-id="153207" data-name="Sữa dưỡng thể toàn thân Mama-Labo" data-price-float="550000.00.00" data-title="TRANG ĐIỂM" data-position="1" href="http://vell.vn/milky-body-lotion-mama-labo-1-1-153207.html" title="Sữa dưỡng thể toàn thân Mama-Labo"><img alt="Sữa dưỡng thể toàn thân Mama-Labo" src="http://s2.webbnc.vn/uploadv2/web/98/985/product/2016/02/26/07/15/1456471212_bodyloation-item-003.jpg" id="f-pr-image-zoom-id-cate-153207" class="img-responsive BNC-image-add-cart-153207" /></a>

                                </div>

                                <div class="f-pr-item-boxdetail">
                                    <h3><a data-id="153207" data-name="Sữa dưỡng thể toàn thân Mama-Labo" data-price-float="550000.00.00" data-title="TRANG ĐIỂM" data-position="1" class="f-pr-item-name" href="http://vell.vn/milky-body-lotion-mama-labo-1-1-153207.html" title="Sữa dưỡng thể toàn thân Mama-Labo">Sữa dưỡng thể toàn thân Mama-Labo</a></h3>

                                    <div class="f-pr-item-price-gr">

                                        <p class="f-pr-item-price">550.000 đ</p>
                                    </div>

                                    <div id="stars" data-text-login="Vui lòng đăng nhập trước khi đánh giá" data-is-login="0" onclick="relogin()" data-is-rater="" data-name="Sữa dưỡng thể toàn thân Mama-Labo" data-id-product="153207" class="starrr" data-rating='0'></div>

                                    <div class="f-pr-item-action">
                                        <a data-id="153207" data-name="Sữa dưỡng thể toàn thân Mama-Labo" data-price-float="550000.00.00" data-title="TRANG ĐIỂM" data-position="1" data-pjax="#fast-container" data-product-id="153207" class="quickview nbh-popup-with-move-anim" data-href="#fast-dialog" href="http://vell.vn/milky-body-lotion-mama-labo-1-1-153207.html">Xem nhanh</a>
                                        <a href="javascript:void(0)" class="add-cart BNC-add-cart v2-home-pr-item-action-buy " data-price-float="550000.00.00" data-name="Sữa dưỡng thể toàn thân Mama-Labo" data-type="tab-home" data-price="Array" data-product="153207" data-quantity="1" data-total-quantity="100">Đặt hàng</a>
                                    </div>
                                </div>



                            </div>
                        </div>
                        <div class="v2-home-catepr-showli" id="like-product-item-247462">
                            <div class="v2-home-catepr-showul-item">
                                <div class="f-pr-item-img">
                                    <a data-id="247462" data-name="Eyeliner Avancé - Màu nâu đậm và đen" data-price-float="280000.00.00" data-title="TRANG ĐIỂM" data-position="2" href="http://vell.vn/eyeliner-avance-mau-nau-dam-va-den-1-1-247462.html" title="Eyeliner Avancé - Màu nâu đậm và đen"><img alt="Eyeliner Avancé - Màu nâu đậm và đen" src="http://s2.webbnc.vn/uploadv2/web/98/985/product/2016/04/15/02/26/1460687490_464a9abd-d68a-4fac-8077-32c87dcf58a7.png" id="f-pr-image-zoom-id-cate-247462" class="img-responsive BNC-image-add-cart-247462" /></a>

                                </div>

                                <div class="f-pr-item-boxdetail">
                                    <h3><a data-id="247462" data-name="Eyeliner Avancé - Màu nâu đậm và đen" data-price-float="280000.00.00" data-title="TRANG ĐIỂM" data-position="2" class="f-pr-item-name" href="http://vell.vn/eyeliner-avance-mau-nau-dam-va-den-1-1-247462.html" title="Eyeliner Avancé - Màu nâu đậm và đen">Eyeliner Avancé - Màu nâu đậm và đen</a></h3>

                                    <div class="f-pr-item-price-gr">

                                        <p class="f-pr-item-price">280.000 đ</p>
                                    </div>

                                    <div id="stars" data-text-login="Vui lòng đăng nhập trước khi đánh giá" data-is-login="0" onclick="relogin()" data-is-rater="" data-name="Eyeliner Avancé - Màu nâu đậm và đen" data-id-product="247462" class="starrr" data-rating='0'></div>

                                    <div class="f-pr-item-action">
                                        <a data-id="247462" data-name="Eyeliner Avancé - Màu nâu đậm và đen" data-price-float="280000.00.00" data-title="TRANG ĐIỂM" data-position="2" data-pjax="#fast-container" data-product-id="247462" class="quickview nbh-popup-with-move-anim" data-href="#fast-dialog" href="http://vell.vn/eyeliner-avance-mau-nau-dam-va-den-1-1-247462.html">Xem nhanh</a>
                                        <a href="javascript:void(0)" class="add-cart BNC-add-cart v2-home-pr-item-action-buy " data-price-float="280000.00.00" data-name="Eyeliner Avancé - Màu nâu đậm và đen" data-type="tab-home" data-price="Array" data-product="247462" data-quantity="1" data-total-quantity="100">Đặt hàng</a>
                                    </div>
                                </div>



                            </div>
                        </div>
                        <div class="v2-home-catepr-showli" id="like-product-item-246596">
                            <div class="v2-home-catepr-showul-item">
                                <div class="f-pr-item-img">
                                    <a data-id="246596" data-name="Eyeliner Lash Serum Avance&#039;" data-price-float="300000.00.00" data-title="TRANG ĐIỂM" data-position="3" href="http://vell.vn/eyeliner-lash-serum-avance039-1-1-246596.html" title="Eyeliner Lash Serum Avance&#039;"><img alt="Eyeliner Lash Serum Avance&#039;" src="http://s2.webbnc.vn/uploadv2/web/98/985/product/2016/04/14/07/49/1460620504_4531560301499.jpg" id="f-pr-image-zoom-id-cate-246596" class="img-responsive BNC-image-add-cart-246596" /></a>

                                </div>

                                <div class="f-pr-item-boxdetail">
                                    <h3><a data-id="246596" data-name="Eyeliner Lash Serum Avance&#039;" data-price-float="300000.00.00" data-title="TRANG ĐIỂM" data-position="3" class="f-pr-item-name" href="http://vell.vn/eyeliner-lash-serum-avance039-1-1-246596.html" title="Eyeliner Lash Serum Avance&#039;">Eyeliner Lash Serum Avance&#039;</a></h3>

                                    <div class="f-pr-item-price-gr">

                                        <p class="f-pr-item-price">300.000 đ</p>
                                    </div>

                                    <div id="stars" data-text-login="Vui lòng đăng nhập trước khi đánh giá" data-is-login="0" onclick="relogin()" data-is-rater="" data-name="Eyeliner Lash Serum Avance&#039;" data-id-product="246596" class="starrr" data-rating='0'></div>

                                    <div class="f-pr-item-action">
                                        <a data-id="246596" data-name="Eyeliner Lash Serum Avance&#039;" data-price-float="300000.00.00" data-title="TRANG ĐIỂM" data-position="3" data-pjax="#fast-container" data-product-id="246596" class="quickview nbh-popup-with-move-anim" data-href="#fast-dialog" href="http://vell.vn/eyeliner-lash-serum-avance039-1-1-246596.html">Xem nhanh</a>
                                        <a href="javascript:void(0)" class="add-cart BNC-add-cart v2-home-pr-item-action-buy " data-price-float="300000.00.00" data-name="Eyeliner Lash Serum Avance&#039;" data-type="tab-home" data-price="Array" data-product="246596" data-quantity="1" data-total-quantity="100">Đặt hàng</a>
                                    </div>
                                </div>



                            </div>
                        </div>
                        <div class="v2-home-catepr-showli" id="like-product-item-246580">
                            <div class="v2-home-catepr-showul-item">
                                <div class="f-pr-item-img">
                                    <a data-id="246580" data-name="Serum kích thích mọc mi Avancé Lash Serum EX" data-price-float="460000.00.00" data-title="TRANG ĐIỂM" data-position="4" href="http://vell.vn/serum-kich-thich-moc-mi-1-1-246580.html" title="Serum kích thích mọc mi Avancé Lash Serum EX"><img alt="Serum kích thích mọc mi Avancé Lash Serum EX" src="http://s2.webbnc.vn/uploadv2/web/98/985/product/2016/04/14/06/39/1460616314_4531560300065_c.jpg" id="f-pr-image-zoom-id-cate-246580" class="img-responsive BNC-image-add-cart-246580" /></a>

                                </div>

                                <div class="f-pr-item-boxdetail">
                                    <h3><a data-id="246580" data-name="Serum kích thích mọc mi Avancé Lash Serum EX" data-price-float="460000.00.00" data-title="TRANG ĐIỂM" data-position="4" class="f-pr-item-name" href="http://vell.vn/serum-kich-thich-moc-mi-1-1-246580.html" title="Serum kích thích mọc mi Avancé Lash Serum EX">Serum kích thích mọc mi Avancé Lash Serum EX</a></h3>

                                    <div class="f-pr-item-price-gr">

                                        <p class="f-pr-item-price">460.000 đ</p>
                                    </div>

                                    <div id="stars" data-text-login="Vui lòng đăng nhập trước khi đánh giá" data-is-login="0" onclick="relogin()" data-is-rater="" data-name="Serum kích thích mọc mi Avancé Lash Serum EX" data-id-product="246580" class="starrr" data-rating='0'></div>

                                    <div class="f-pr-item-action">
                                        <a data-id="246580" data-name="Serum kích thích mọc mi Avancé Lash Serum EX" data-price-float="460000.00.00" data-title="TRANG ĐIỂM" data-position="4" data-pjax="#fast-container" data-product-id="246580" class="quickview nbh-popup-with-move-anim" data-href="#fast-dialog" href="http://vell.vn/serum-kich-thich-moc-mi-1-1-246580.html">Xem nhanh</a>
                                        <a href="javascript:void(0)" class="add-cart BNC-add-cart v2-home-pr-item-action-buy " data-price-float="460000.00.00" data-name="Serum kích thích mọc mi Avancé Lash Serum EX" data-type="tab-home" data-price="Array" data-product="246580" data-quantity="1" data-total-quantity="100">Đặt hàng</a>
                                    </div>
                                </div>



                            </div>
                        </div>
                        <div class="v2-home-catepr-showli" id="like-product-item-247523">
                            <div class="v2-home-catepr-showul-item">
                                <div class="f-pr-item-img">
                                    <a data-id="247523" data-name="Avancé Eye Highlight - Chì màu cho mắt" data-price-float="250000.00.00" data-title="TRANG ĐIỂM" data-position="5" href="http://vell.vn/avance-eye-highlight-chi-mau-cho-mat-1-1-247523.html" title="Avancé Eye Highlight - Chì màu cho mắt"><img alt="Avancé Eye Highlight - Chì màu cho mắt" src="http://s2.webbnc.vn/uploadv2/web/98/985/product/2016/04/15/02/40/1460688322_a87ebfd0507822e2e359549df849e2e9.jpg" id="f-pr-image-zoom-id-cate-247523" class="img-responsive BNC-image-add-cart-247523" /></a>

                                </div>

                                <div class="f-pr-item-boxdetail">
                                    <h3><a data-id="247523" data-name="Avancé Eye Highlight - Chì màu cho mắt" data-price-float="250000.00.00" data-title="TRANG ĐIỂM" data-position="5" class="f-pr-item-name" href="http://vell.vn/avance-eye-highlight-chi-mau-cho-mat-1-1-247523.html" title="Avancé Eye Highlight - Chì màu cho mắt">Avancé Eye Highlight - Chì màu cho mắt</a></h3>

                                    <div class="f-pr-item-price-gr">

                                        <p class="f-pr-item-price">250.000 đ</p>
                                    </div>

                                    <div id="stars" data-text-login="Vui lòng đăng nhập trước khi đánh giá" data-is-login="0" onclick="relogin()" data-is-rater="" data-name="Avancé Eye Highlight - Chì màu cho mắt" data-id-product="247523" class="starrr" data-rating='0'></div>

                                    <div class="f-pr-item-action">
                                        <a data-id="247523" data-name="Avancé Eye Highlight - Chì màu cho mắt" data-price-float="250000.00.00" data-title="TRANG ĐIỂM" data-position="5" data-pjax="#fast-container" data-product-id="247523" class="quickview nbh-popup-with-move-anim" data-href="#fast-dialog" href="http://vell.vn/avance-eye-highlight-chi-mau-cho-mat-1-1-247523.html">Xem nhanh</a>
                                        <a href="javascript:void(0)" class="add-cart BNC-add-cart v2-home-pr-item-action-buy " data-price-float="250000.00.00" data-name="Avancé Eye Highlight - Chì màu cho mắt" data-type="tab-home" data-price="Array" data-product="247523" data-quantity="1" data-total-quantity="100">Đặt hàng</a>
                                    </div>
                                </div>



                            </div>
                        </div>
                        <div class="v2-home-catepr-showli" id="like-product-item-247516">
                            <div class="v2-home-catepr-showul-item">
                                <div class="f-pr-item-img">
                                    <a data-id="247516" data-name="Chì kẻ chân mày Avance 2 đầu" data-price-float="260000.00.00" data-title="TRANG ĐIỂM" data-position="6" href="http://vell.vn/chi-ke-chan-may-avance-2-dau-1-1-247516.html" title="Chì kẻ chân mày Avance 2 đầu"><img alt="Chì kẻ chân mày Avance 2 đầu" src="http://s2.webbnc.vn/uploadv2/web/98/985/product/2016/04/15/03/08/1460690041_download-8.jpg" id="f-pr-image-zoom-id-cate-247516" class="img-responsive BNC-image-add-cart-247516" /></a>

                                </div>

                                <div class="f-pr-item-boxdetail">
                                    <h3><a data-id="247516" data-name="Chì kẻ chân mày Avance 2 đầu" data-price-float="260000.00.00" data-title="TRANG ĐIỂM" data-position="6" class="f-pr-item-name" href="http://vell.vn/chi-ke-chan-may-avance-2-dau-1-1-247516.html" title="Chì kẻ chân mày Avance 2 đầu">Chì kẻ chân mày Avance 2 đầu</a></h3>

                                    <div class="f-pr-item-price-gr">

                                        <p class="f-pr-item-price">260.000 đ</p>
                                    </div>

                                    <div id="stars" data-text-login="Vui lòng đăng nhập trước khi đánh giá" data-is-login="0" onclick="relogin()" data-is-rater="" data-name="Chì kẻ chân mày Avance 2 đầu" data-id-product="247516" class="starrr" data-rating='0'></div>

                                    <div class="f-pr-item-action">
                                        <a data-id="247516" data-name="Chì kẻ chân mày Avance 2 đầu" data-price-float="260000.00.00" data-title="TRANG ĐIỂM" data-position="6" data-pjax="#fast-container" data-product-id="247516" class="quickview nbh-popup-with-move-anim" data-href="#fast-dialog" href="http://vell.vn/chi-ke-chan-may-avance-2-dau-1-1-247516.html">Xem nhanh</a>
                                        <a href="javascript:void(0)" class="add-cart BNC-add-cart v2-home-pr-item-action-buy " data-price-float="260000.00.00" data-name="Chì kẻ chân mày Avance 2 đầu" data-type="tab-home" data-price="Array" data-product="247516" data-quantity="1" data-total-quantity="100">Đặt hàng</a>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>

                    <script type="text/javascript">
                                            $(document).ready(function () {
                                                $(".owl-carousel-cate-4").owlCarousel({
                                                    items: 4, //10 items above 1000px browser width
                                                    itemsDesktop: [1000, 4], //5 items between 1000px and 901px
                                                    itemsDesktopSmall: [900, 3], // betweem 900px and 601px
                                                    itemsTablet: [600, 2], //2 items between 600 and 0
                                                    itemsMobile: false, // itemsMobile disabled - inherit from itemsTablet option
                                                    pagination: false,
                                                    navigation: true,
                                                });
                                            });

                                            $(document).ready(function () {
                                                $('.tab-content .owl-carousel-cate-4 .owl-controls .owl-prev').append('<i class="fa fa-chevron-left"></i>');
                                                $('.tab-content .owl-carousel-cate-4 .owl-controls .owl-next').append('<i class="fa fa-chevron-right"></i>');
                                            });
                    </script>
                    <a href="http://vell.vn/trang-diem-2-1-47820.html" class="view-more hidden-sm hidden-xs">Xem tất cả</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
