@model System.Collections.Generic.IEnumerable<BeautyAndCare.Models.tbl_product>   

<div class="clearfix"></div>
<div class="v2-home-catepr">
    <div class="container">
        <div class="row">
            <div class="v2-home-catepr-right">
                <div class="v2-home-catepr-title">
                    <h2>HÀNG MỚI VỀ</h2>
                </div>

                <div class="tab-content">


                    <div class="v2-home-catepr-showul owl-carousel-cate-1" id="product-content-42108">
                        
                        @foreach (var item in Model)
                        {
                            <div class="v2-home-catepr-showli" id="like-product-item-132717">
                                <div class="v2-home-catepr-showul-item">
                                    <div class="f-pr-item-img">
                                        <a data-id="132717" data-name="KEM DƯỠNG TRẮNG BODY KJ STYLE BIKYAKU GEL - 150G" data-price-float="490000.00.00" data-title="HÀNG MỚI VỀ" data-position="1" href="http://vell.vn/kem-duong-body-kj-style-bikyaku-gel-150g-1-1-132717.html" title="KEM DƯỠNG TRẮNG BODY KJ STYLE BIKYAKU GEL - 150G"><img alt="KEM DƯỠNG TRẮNG BODY KJ STYLE BIKYAKU GEL - 150G" src="http://s2.webbnc.vn/uploadv2/web/98/985/product/2016/01/13/09/58/1452679307_duong-biyaku-1.jpg" id="f-pr-image-zoom-id-cate-132717" class="img-responsive BNC-image-add-cart-132717" /></a>

                                    </div>

                                    <div class="f-pr-item-boxdetail">
                                        <h3><a data-id="132717" data-name="KEM DƯỠNG TRẮNG BODY KJ STYLE BIKYAKU GEL - 150G" data-price-float="490000.00.00" data-title="HÀNG MỚI VỀ" data-position="1" class="f-pr-item-name" href="http://vell.vn/kem-duong-body-kj-style-bikyaku-gel-150g-1-1-132717.html" title="KEM DƯỠNG TRẮNG BODY KJ STYLE BIKYAKU GEL - 150G">@item.name_products</a></h3>

                                        <div class="f-pr-item-price-gr">

                                            <p class="f-pr-item-price">490.000 đ</p>
                                        </div>

                                        <div id="stars" data-text-login="Vui lòng đăng nhập trước khi đánh giá" data-is-login="0" onclick="relogin()" data-is-rater="" data-name="KEM DƯỠNG TRẮNG BODY KJ STYLE BIKYAKU GEL - 150G" data-id-product="132717" class="starrr" data-rating='0'></div>

                                        <div class="f-pr-item-action">
                                            <a data-id="132717" data-name="KEM DƯỠNG TRẮNG BODY KJ STYLE BIKYAKU GEL - 150G" data-price-float="490000.00.00" data-title="HÀNG MỚI VỀ" data-position="1" data-pjax="#fast-container" data-product-id="132717" class="quickview nbh-popup-with-move-anim" data-href="#fast-dialog" href="http://vell.vn/kem-duong-body-kj-style-bikyaku-gel-150g-1-1-132717.html">Xem nhanh</a>
                                            <a href="javascript:void(0)" class="add-cart BNC-add-cart v2-home-pr-item-action-buy " data-price-float="490000.00.00" data-name="KEM DƯỠNG TRẮNG BODY KJ STYLE BIKYAKU GEL - 150G" data-type="tab-home" data-price="Array" data-product="132717" data-quantity="1" data-total-quantity="100">Đặt hàng</a>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        }

                       
                      

                    </div>

                    <script type="text/javascript">
                                            $(document).ready(function () {
                                                $(".owl-carousel-cate-1").owlCarousel({
                                                    items: 4, //10 items above 1000px browser width
                                                    itemsDesktop: [1000, 4], //5 items between 1000px and 901px
                                                    itemsDesktopSmall: [900, 3], // betweem 900px and 601px
                                                    itemsTablet: [600, 2], //2 items between 600 and 0
                                                    itemsMobile: false, // itemsMobile disabled - inherit from itemsTablet option
                                                    pagination: false,
                                                    navigation: true,
                                                });
                                            });

                                            $(document).ready(function () {
                                                $('.tab-content .owl-carousel-cate-1 .owl-controls .owl-prev').append('<i class="fa fa-chevron-left"></i>');
                                                $('.tab-content .owl-carousel-cate-1 .owl-controls .owl-next').append('<i class="fa fa-chevron-right"></i>');
                                            });
                    </script>
                    <a href="http://vell.vn/hang-moi-ve-2-1-42108.html" class="view-more hidden-sm hidden-xs">Xem tất cả</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
