<div class="clearfix"></div>
<div class="clearfix"></div>
<div class="v2-home-catepr">
    <div class="container">
        <div class="row">
            <div class="v2-home-catepr-right">
                <div class="v2-home-catepr-title">
                    <h2>CHĂM SÓC CƠ THỂ</h2>
                </div>

                <div class="tab-content">


                    <div class="v2-home-catepr-showul owl-carousel-cate-3" id="product-content-42105">
                        <div class="v2-home-catepr-showli" id="like-product-item-437447">
                            <div class="v2-home-catepr-showul-item">
                                <div class="f-pr-item-img">
                                    <a data-id="437447" data-name="Plus Hyaluronic Solute Serum" data-price-float="450000.00.00" data-title="CHĂM SÓC CƠ THỂ" data-position="1" href="http://vell.vn/plus-hyaluronic-solute-serum-1-1-437447.html" title="Plus Hyaluronic Solute Serum"><img alt="Plus Hyaluronic Solute Serum" src="http://s2.webbnc.vn/uploadv2/web/98/985/product/2016/09/19/08/20/1474273514_img_0644.jpg.jpg" id="f-pr-image-zoom-id-cate-437447" class="img-responsive BNC-image-add-cart-437447" /></a>

                                </div>

                                <div class="f-pr-item-boxdetail">
                                    <h3><a data-id="437447" data-name="Plus Hyaluronic Solute Serum" data-price-float="450000.00.00" data-title="CHĂM SÓC CƠ THỂ" data-position="1" class="f-pr-item-name" href="http://vell.vn/plus-hyaluronic-solute-serum-1-1-437447.html" title="Plus Hyaluronic Solute Serum">Plus Hyaluronic Solute Serum</a></h3>

                                    <div class="f-pr-item-price-gr">

                                        <p class="f-pr-item-price">450.000 đ</p>
                                    </div>

                                    <div id="stars" data-text-login="Vui lòng đăng nhập trước khi đánh giá" data-is-login="0" onclick="relogin()" data-is-rater="" data-name="Plus Hyaluronic Solute Serum" data-id-product="437447" class="starrr" data-rating='0'></div>

                                    <div class="f-pr-item-action">
                                        <a data-id="437447" data-name="Plus Hyaluronic Solute Serum" data-price-float="450000.00.00" data-title="CHĂM SÓC CƠ THỂ" data-position="1" data-pjax="#fast-container" data-product-id="437447" class="quickview nbh-popup-with-move-anim" data-href="#fast-dialog" href="http://vell.vn/plus-hyaluronic-solute-serum-1-1-437447.html">Xem nhanh</a>
                                        <a href="javascript:void(0)" class="add-cart BNC-add-cart v2-home-pr-item-action-buy " data-price-float="450000.00.00" data-name="Plus Hyaluronic Solute Serum" data-type="tab-home" data-price="Array" data-product="437447" data-quantity="1" data-total-quantity="100">Đặt hàng</a>
                                    </div>
                                </div>



                            </div>
                        </div>
                        <div class="v2-home-catepr-showli" id="like-product-item-132717">
                            <div class="v2-home-catepr-showul-item">
                                <div class="f-pr-item-img">
                                    <a data-id="132717" data-name="KEM DƯỠNG TRẮNG BODY KJ STYLE BIKYAKU GEL - 150G" data-price-float="490000.00.00" data-title="CHĂM SÓC CƠ THỂ" data-position="2" href="http://vell.vn/kem-duong-body-kj-style-bikyaku-gel-150g-1-1-132717.html" title="KEM DƯỠNG TRẮNG BODY KJ STYLE BIKYAKU GEL - 150G"><img alt="KEM DƯỠNG TRẮNG BODY KJ STYLE BIKYAKU GEL - 150G" src="http://s2.webbnc.vn/uploadv2/web/98/985/product/2016/01/13/09/58/1452679307_duong-biyaku-1.jpg" id="f-pr-image-zoom-id-cate-132717" class="img-responsive BNC-image-add-cart-132717" /></a>

                                </div>

                                <div class="f-pr-item-boxdetail">
                                    <h3><a data-id="132717" data-name="KEM DƯỠNG TRẮNG BODY KJ STYLE BIKYAKU GEL - 150G" data-price-float="490000.00.00" data-title="CHĂM SÓC CƠ THỂ" data-position="2" class="f-pr-item-name" href="http://vell.vn/kem-duong-body-kj-style-bikyaku-gel-150g-1-1-132717.html" title="KEM DƯỠNG TRẮNG BODY KJ STYLE BIKYAKU GEL - 150G">KEM DƯỠNG TRẮNG BODY KJ STYLE BIKYAKU GEL - 150G</a></h3>

                                    <div class="f-pr-item-price-gr">

                                        <p class="f-pr-item-price">490.000 đ</p>
                                    </div>

                                    <div id="stars" data-text-login="Vui lòng đăng nhập trước khi đánh giá" data-is-login="0" onclick="relogin()" data-is-rater="" data-name="KEM DƯỠNG TRẮNG BODY KJ STYLE BIKYAKU GEL - 150G" data-id-product="132717" class="starrr" data-rating='0'></div>

                                    <div class="f-pr-item-action">
                                        <a data-id="132717" data-name="KEM DƯỠNG TRẮNG BODY KJ STYLE BIKYAKU GEL - 150G" data-price-float="490000.00.00" data-title="CHĂM SÓC CƠ THỂ" data-position="2" data-pjax="#fast-container" data-product-id="132717" class="quickview nbh-popup-with-move-anim" data-href="#fast-dialog" href="http://vell.vn/kem-duong-body-kj-style-bikyaku-gel-150g-1-1-132717.html">Xem nhanh</a>
                                        <a href="javascript:void(0)" class="add-cart BNC-add-cart v2-home-pr-item-action-buy " data-price-float="490000.00.00" data-name="KEM DƯỠNG TRẮNG BODY KJ STYLE BIKYAKU GEL - 150G" data-type="tab-home" data-price="Array" data-product="132717" data-quantity="1" data-total-quantity="100">Đặt hàng</a>
                                    </div>
                                </div>



                            </div>
                        </div>
                        <div class="v2-home-catepr-showli" id="like-product-item-188683">
                            <div class="v2-home-catepr-showul-item">
                                <div class="f-pr-item-img">
                                    <a data-id="188683" data-name="Xịt dưỡng tóc Roiche Light Oil Mist" data-price-float="470000.00.00" data-title="CHĂM SÓC CƠ THỂ" data-position="3" href="http://vell.vn/xit-duong-toc-roiche-light-oil-mist-1-1-188683.html" title="Xịt dưỡng tóc Roiche Light Oil Mist"><img alt="Xịt dưỡng tóc Roiche Light Oil Mist" src="http://s2.webbnc.vn/uploadv2/web/98/985/product/2016/03/21/03/15/1458530407_roiche.png" id="f-pr-image-zoom-id-cate-188683" class="img-responsive BNC-image-add-cart-188683" /></a>

                                </div>

                                <div class="f-pr-item-boxdetail">
                                    <h3><a data-id="188683" data-name="Xịt dưỡng tóc Roiche Light Oil Mist" data-price-float="470000.00.00" data-title="CHĂM SÓC CƠ THỂ" data-position="3" class="f-pr-item-name" href="http://vell.vn/xit-duong-toc-roiche-light-oil-mist-1-1-188683.html" title="Xịt dưỡng tóc Roiche Light Oil Mist">Xịt dưỡng tóc Roiche Light Oil Mist</a></h3>

                                    <div class="f-pr-item-price-gr">

                                        <p class="f-pr-item-price">470.000 đ</p>
                                    </div>

                                    <div id="stars" data-text-login="Vui lòng đăng nhập trước khi đánh giá" data-is-login="0" onclick="relogin()" data-is-rater="" data-name="Xịt dưỡng tóc Roiche Light Oil Mist" data-id-product="188683" class="starrr" data-rating='0'></div>

                                    <div class="f-pr-item-action">
                                        <a data-id="188683" data-name="Xịt dưỡng tóc Roiche Light Oil Mist" data-price-float="470000.00.00" data-title="CHĂM SÓC CƠ THỂ" data-position="3" data-pjax="#fast-container" data-product-id="188683" class="quickview nbh-popup-with-move-anim" data-href="#fast-dialog" href="http://vell.vn/xit-duong-toc-roiche-light-oil-mist-1-1-188683.html">Xem nhanh</a>
                                        <a href="javascript:void(0)" class="add-cart BNC-add-cart v2-home-pr-item-action-buy " data-price-float="470000.00.00" data-name="Xịt dưỡng tóc Roiche Light Oil Mist" data-type="tab-home" data-price="Array" data-product="188683" data-quantity="1" data-total-quantity="100">Đặt hàng</a>
                                    </div>
                                </div>



                            </div>
                        </div>
                        <div class="v2-home-catepr-showli" id="like-product-item-177545">
                            <div class="v2-home-catepr-showul-item">
                                <div class="f-pr-item-img">
                                    <a data-id="177545" data-name="Dầu dưỡng thể Roiche Oil Cream" data-price-float="560000.00.00" data-title="CHĂM SÓC CƠ THỂ" data-position="4" href="http://vell.vn/dau-duong-toan-than-oil-cream-roiche-1-1-177545.html" title="Dầu dưỡng thể Roiche Oil Cream"><img alt="Dầu dưỡng thể Roiche Oil Cream" src="http://s2.webbnc.vn/uploadv2/web/98/985/product/2016/03/16/01/44/1458092954_17.png" id="f-pr-image-zoom-id-cate-177545" class="img-responsive BNC-image-add-cart-177545" /></a>

                                </div>

                                <div class="f-pr-item-boxdetail">
                                    <h3><a data-id="177545" data-name="Dầu dưỡng thể Roiche Oil Cream" data-price-float="560000.00.00" data-title="CHĂM SÓC CƠ THỂ" data-position="4" class="f-pr-item-name" href="http://vell.vn/dau-duong-toan-than-oil-cream-roiche-1-1-177545.html" title="Dầu dưỡng thể Roiche Oil Cream">Dầu dưỡng thể Roiche Oil Cream</a></h3>

                                    <div class="f-pr-item-price-gr">

                                        <p class="f-pr-item-price">560.000 đ</p>
                                    </div>

                                    <div id="stars" data-text-login="Vui lòng đăng nhập trước khi đánh giá" data-is-login="0" onclick="relogin()" data-is-rater="" data-name="Dầu dưỡng thể Roiche Oil Cream" data-id-product="177545" class="starrr" data-rating='0'></div>

                                    <div class="f-pr-item-action">
                                        <a data-id="177545" data-name="Dầu dưỡng thể Roiche Oil Cream" data-price-float="560000.00.00" data-title="CHĂM SÓC CƠ THỂ" data-position="4" data-pjax="#fast-container" data-product-id="177545" class="quickview nbh-popup-with-move-anim" data-href="#fast-dialog" href="http://vell.vn/dau-duong-toan-than-oil-cream-roiche-1-1-177545.html">Xem nhanh</a>
                                        <a href="javascript:void(0)" class="add-cart BNC-add-cart v2-home-pr-item-action-buy " data-price-float="560000.00.00" data-name="Dầu dưỡng thể Roiche Oil Cream" data-type="tab-home" data-price="Array" data-product="177545" data-quantity="1" data-total-quantity="100">Đặt hàng</a>
                                    </div>
                                </div>



                            </div>
                        </div>
                        <div class="v2-home-catepr-showli" id="like-product-item-75225">
                            <div class="v2-home-catepr-showul-item">
                                <div class="f-pr-item-img">
                                    <a data-id="75225" data-name="Xịt khoáng chống nắng YUI TOKYO" data-price-float="390000.00.00" data-title="CHĂM SÓC CƠ THỂ" data-position="5" href="http://vell.vn/xit-khoang-chong-nang-yui-tokyo-1-1-75225.html" title="Xịt khoáng chống nắng YUI TOKYO"><img alt="Xịt khoáng chống nắng YUI TOKYO" src="http://s2.webbnc.vn/uploadv2/web/98/985/product/2015/10/21/05/39/1445423690_xit-khoang-600-200.jpg" id="f-pr-image-zoom-id-cate-75225" class="img-responsive BNC-image-add-cart-75225" /></a>

                                </div>

                                <div class="f-pr-item-boxdetail">
                                    <h3><a data-id="75225" data-name="Xịt khoáng chống nắng YUI TOKYO" data-price-float="390000.00.00" data-title="CHĂM SÓC CƠ THỂ" data-position="5" class="f-pr-item-name" href="http://vell.vn/xit-khoang-chong-nang-yui-tokyo-1-1-75225.html" title="Xịt khoáng chống nắng YUI TOKYO">Xịt khoáng chống nắng YUI TOKYO</a></h3>

                                    <div class="f-pr-item-price-gr">

                                        <p class="f-pr-item-price">390.000 đ</p>
                                    </div>

                                    <div id="stars" data-text-login="Vui lòng đăng nhập trước khi đánh giá" data-is-login="0" onclick="relogin()" data-is-rater="" data-name="Xịt khoáng chống nắng YUI TOKYO" data-id-product="75225" class="starrr" data-rating='0'></div>

                                    <div class="f-pr-item-action">
                                        <a data-id="75225" data-name="Xịt khoáng chống nắng YUI TOKYO" data-price-float="390000.00.00" data-title="CHĂM SÓC CƠ THỂ" data-position="5" data-pjax="#fast-container" data-product-id="75225" class="quickview nbh-popup-with-move-anim" data-href="#fast-dialog" href="http://vell.vn/xit-khoang-chong-nang-yui-tokyo-1-1-75225.html">Xem nhanh</a>
                                        <a href="javascript:void(0)" class="add-cart BNC-add-cart v2-home-pr-item-action-buy " data-price-float="390000.00.00" data-name="Xịt khoáng chống nắng YUI TOKYO" data-type="tab-home" data-price="Array" data-product="75225" data-quantity="1" data-total-quantity="100">Đặt hàng</a>
                                    </div>
                                </div>



                            </div>
                        </div>
                        <div class="v2-home-catepr-showli" id="like-product-item-96381">
                            <div class="v2-home-catepr-showul-item">
                                <div class="f-pr-item-img">
                                    <a data-id="96381" data-name="Kem dưỡng trắng trang điểm toàn thân CC cream KJ Style" data-price-float="450000.00.00" data-title="CHĂM SÓC CƠ THỂ" data-position="6" href="http://vell.vn/kem-duong-trang-body-kj-style-80g-1-1-96381.html" title="Kem dưỡng trắng trang điểm toàn thân CC cream KJ Style"><img alt="Kem dưỡng trắng trang điểm toàn thân CC cream KJ Style" src="http://s2.webbnc.vn/uploadv2/web/98/985/product/2016/01/15/04/48/1452833515_0000000000082.jpg" id="f-pr-image-zoom-id-cate-96381" class="img-responsive BNC-image-add-cart-96381" /></a>

                                </div>

                                <div class="f-pr-item-boxdetail">
                                    <h3><a data-id="96381" data-name="Kem dưỡng trắng trang điểm toàn thân CC cream KJ Style" data-price-float="450000.00.00" data-title="CHĂM SÓC CƠ THỂ" data-position="6" class="f-pr-item-name" href="http://vell.vn/kem-duong-trang-body-kj-style-80g-1-1-96381.html" title="Kem dưỡng trắng trang điểm toàn thân CC cream KJ Style">Kem dưỡng trắng trang điểm toàn thân CC cream KJ Style</a></h3>

                                    <div class="f-pr-item-price-gr">

                                        <p class="f-pr-item-price">450.000 đ</p>
                                    </div>

                                    <div id="stars" data-text-login="Vui lòng đăng nhập trước khi đánh giá" data-is-login="0" onclick="relogin()" data-is-rater="" data-name="Kem dưỡng trắng trang điểm toàn thân CC cream KJ Style" data-id-product="96381" class="starrr" data-rating='0'></div>

                                    <div class="f-pr-item-action">
                                        <a data-id="96381" data-name="Kem dưỡng trắng trang điểm toàn thân CC cream KJ Style" data-price-float="450000.00.00" data-title="CHĂM SÓC CƠ THỂ" data-position="6" data-pjax="#fast-container" data-product-id="96381" class="quickview nbh-popup-with-move-anim" data-href="#fast-dialog" href="http://vell.vn/kem-duong-trang-body-kj-style-80g-1-1-96381.html">Xem nhanh</a>
                                        <a href="javascript:void(0)" class="add-cart BNC-add-cart v2-home-pr-item-action-buy " data-price-float="450000.00.00" data-name="Kem dưỡng trắng trang điểm toàn thân CC cream KJ Style" data-type="tab-home" data-price="Array" data-product="96381" data-quantity="1" data-total-quantity="100">Đặt hàng</a>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>

                    <script type="text/javascript">
                                            $(document).ready(function () {
                                                $(".owl-carousel-cate-3").owlCarousel({
                                                    items: 4, //10 items above 1000px browser width
                                                    itemsDesktop: [1000, 4], //5 items between 1000px and 901px
                                                    itemsDesktopSmall: [900, 3], // betweem 900px and 601px
                                                    itemsTablet: [600, 2], //2 items between 600 and 0
                                                    itemsMobile: false, // itemsMobile disabled - inherit from itemsTablet option
                                                    pagination: false,
                                                    navigation: true,
                                                });
                                            });

                                            $(document).ready(function () {
                                                $('.tab-content .owl-carousel-cate-3 .owl-controls .owl-prev').append('<i class="fa fa-chevron-left"></i>');
                                                $('.tab-content .owl-carousel-cate-3 .owl-controls .owl-next').append('<i class="fa fa-chevron-right"></i>');
                                            });
                    </script>
                    <a href="http://vell.vn/cham-soc-co-the-2-1-42105.html" class="view-more hidden-sm hidden-xs">Xem tất cả</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
