@model System.Collections.Generic.IEnumerable<BeautyAndCare.Models.tbl_product>

<div class="clearfix"></div>
<div class="clearfix"></div>
<div class="v2-home-catepr">
    <div class="container">
        <div class="row">
            <div class="v2-home-catepr-right">
                <div class="v2-home-catepr-title">
                    <h2>CHĂM SÓC DA</h2>
                </div>

                <div class="tab-content">


                    <div class="v2-home-catepr-showul owl-carousel-cate-6">
                        @foreach (var item in Model)
                        {
                            <div class="v2-home-catepr-showli">
                                <div class="v2-home-catepr-showul-item">
                                    <div class="f-pr-item-img">
                                        <a data-id="437447" data-name="Plus Hyaluronic Solute Serum" data-price-float="450000.00.00" data-title="BÁN CHẠY TRONG TUẦN" data-position="1" href="http://vell.vn/plus-hyaluronic-solute-serum-1-1-437447.html" title="Plus Hyaluronic Solute Serum"><img alt="Plus Hyaluronic Solute Serum" src="http://s2.webbnc.vn/uploadv2/web/98/985/product/2016/09/19/08/20/1474273514_img_0644.jpg.jpg" id="f-pr-image-zoom-id-cate-437447" class="img-responsive BNC-image-add-cart-437447" /></a>

                                    </div>

                                    <div class="f-pr-item-boxdetail">
                                        <h3><a data-id="437447" data-name="Plus Hyaluronic Solute Serum" data-price-float="450000.00.00" data-title="BÁN CHẠY TRONG TUẦN" data-position="1" class="f-pr-item-name" href="http://vell.vn/plus-hyaluronic-solute-serum-1-1-437447.html" title="Plus Hyaluronic Solute Serum">Plus Hyaluronic Solute Serum</a></h3>

                                        <div class="f-pr-item-price-gr">

                                            <p class="f-pr-item-price">450.000 đ</p>
                                        </div>

                                        <div id="stars" data-text-login="Vui lòng đăng nhập trước khi đánh giá" data-is-login="0" onclick="relogin()" data-is-rater="" data-name="Plus Hyaluronic Solute Serum" data-id-product="437447" class="starrr" data-rating='0'></div>

                                        <div class="f-pr-item-action">
                                            <a data-id="437447" data-name="Plus Hyaluronic Solute Serum" data-price-float="450000.00.00" data-title="BÁN CHẠY TRONG TUẦN" data-position="1" data-pjax="#fast-container" data-product-id="437447" class="quickview nbh-popup-with-move-anim" data-href="#fast-dialog" href="http://vell.vn/plus-hyaluronic-solute-serum-1-1-437447.html">Xem nhanh</a>
                                            <a href="javascript:void(0)" class="add-cart BNC-add-cart v2-home-pr-item-action-buy " data-price-float="450000.00.00" data-name="Plus Hyaluronic Solute Serum" data-type="tab-home" data-price="Array" data-product="437447" data-quantity="1" data-total-quantity="100">Đặt hàng</a>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        }
                    </div>
                    <a href="http://vell.vn/hang-moi-ve-2-1-42108.html" class="view-more hidden-sm hidden-xs">Xem tất cả</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
