<div class="f-slider">
    <div class="container">
        <div class="">

            <div class="">
                <!-- Carousel
                ================================================== -->
                <div id="myslide" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">


                        <li data-target="#myslide" data-slide-to="0" class="active"></li>


                        <li data-target="#myslide" data-slide-to="1" class=""></li>


                        <li data-target="#myslide" data-slide-to="2" class=""></li>


                    </ol>
                    <div class="carousel-inner">


                        <div class="item active">
                            <a href="http://vell.vn/mat-na-duong-da-7-mieng-quality-first-mask-1-1-188630.html">
                                <img src="http://s2.webbnc.vn/uploadv2/web/98/985/slide/2016/07/11/08/01/1468224379_quality-1-mask-banner-web.png" alt="" />
                            </a>
                            <div class="container">
                                <div class="carousel-caption">
                                    <h1></h1>
                                    <p></p>
                                </div>
                            </div>
                        </div>

                        <div class="item ">
                            <a href="">
                                <img src="http://s2.webbnc.vn/uploadv2/web/98/985/slide/2016/06/22/11/05/1466593824_plus-banner.png" alt="" />
                            </a>
                            <div class="container">
                                <div class="carousel-caption">
                                    <h1></h1>
                                    <p></p>
                                </div>
                            </div>
                        </div>

                        <div class="item ">
                            <a href="http://vell.vn/dau-tay-trang-ohyama-interface-olive-cleansing-oil-1-1-188713.html">
                                <img src="http://s2.webbnc.vn/uploadv2/web/98/985/slide/2016/06/22/11/35/1466595645_kj-style--banner.png" alt="" />
                            </a>
                            <div class="container">
                                <div class="carousel-caption">
                                    <h1></h1>
                                    <p></p>
                                </div>
                            </div>
                        </div>



                    </div>
                    <a class="left carousel-control" href="#myslide" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#myslide" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
                <!-- /.carousel -->
            </div>
        </div>
    </div>
</div>
