@using BeautyAndCare.Models;
@using System.Linq;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayOutNew.cshtml";
    WebSiteEntities db = new WebSiteEntities();
    var queryMenu = from data in db.tblMenus
                    where data.StatusMenu == 1
                    orderby data.OrderMenu ascending
                    select data;
}
<!--HEADER--->
@Html.Partial("Header", queryMenu.ToList())
<!--END HEADER--->
<div class="container">
    @Html.Partial("Breadcrumb")
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2CphD0_grWYSRAmABGn2zFa2ydgzD-2o&callback=initMap">
    </script>
    <div class="row">
        <div id="content" class="col-sm-12 contact_page">
            <h1 class="no-line clheadercontact">Liên hệ</h1>
            <div class="map" id="googleMap" style="width:100%;height:500px;">

            </div>
          
            <div class="clear"></div>
            <h3 class="cllocation">Vị trí</h3>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <a href="./">
                                <img src="/Template/image/logo.png" alt="Cosmetorix" title="Cosmetorix" class="img-thumbnail">
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <div class="icon material-design-phone370">
                                <strong class="clcontact_phone">Điện thoại </strong><br>
                                <a href="callto:0918214088">0918214088</a>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="icon fa-key">
                                <strong class="clcontact_giolamviec"> Giờ làm việc</strong><br>
                               <span class="clgiolamviec">7 Days a week from 9:00 am to 7:00 pm</span> 
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <strong class="claddress">Địa chỉ</strong><br>
                            <address class="claddressdetail">
                                
                                10/21 Hoàng Hoa Thám, Q. Bình Thạnh
                               
                            </address>
                        </div>
                        <div class="col-sm-4">
                            
                        </div>
                        <div class="col-sm-4">
                            @*<div class="icon fa-comments-o">
                                <strong>Comments</strong><br>
                                We are glad to hear from you
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
            @using (Html.BeginForm("sendContact", "WebSite",FormMethod.Post,htmlAttributes:new { @class= "form-horizontal" }))
            {
                <fieldset>
                    <legend class="clheadercontact">Contact Form</legend>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label clyourname" for="input-name">Họ và tên</label>
                        <div class="col-sm-10">
                            <input type="text" name="name" value="" id="input-name" class="form-control">
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-email">Email</label>
                        <div class="col-sm-10">
                            <input type="text" name="email" value="" id="input-email" class="form-control">
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label clcontent" for="input-enquiry">Nội dung</label>
                        <div class="col-sm-10">
                            <textarea name="enquiry" rows="10" id="input-enquiry" class=""></textarea>
                        </div>
                    </div>
                </fieldset>
                <div class="buttons">
                    <div class="pull-right">
                        <input class="btn btn-primary" type="submit" value="Submit">
                    </div>
                </div>
            }
           
        </div>
    </div>
</div>
<!-- FOOTER--->
@Html.Partial("Footer")
<!--END FOOTER--->
<script>
              
    function initialize() {
        var mapOptions = {
            zoom: 17,
            center: new google.maps.LatLng(10.8052249, 106.6900085)
        }
        var map = new google.maps.Map(document.getElementById('googleMap'),
                                      mapOptions);

        var image = '/Template/img/cdiAE.png';
        var myLatLng = new google.maps.LatLng(10.8052249, 106.6900085);
        var beachMarker = new google.maps.Marker({
            position: myLatLng,
            map: map,
          
            icon: image
        });
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>
