@using BeautyAndCare.Models;
@using System.Linq;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayOutNew.cshtml";
    WebSiteEntities db = new WebSiteEntities();
    var queryMenu = from data in db.tblMenus
                    where data.StatusMenu == 1
                    orderby data.OrderMenu ascending
                    select data;
}
<!--HEADER--->
@Html.Partial("Header", queryMenu.ToList())
<!--END HEADER--->
<div class="container">
    @Html.Partial("Breadcrumb")
    @using (Html.BeginForm("Login", "WebSite", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal" }))
    {
        <div class="row">
            <div id="content" class="col-sm-12">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="well">
                            <h2>New Customer</h2>
                            <p><strong>Register Account</strong></p>
                            <p>By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</p>
                            <a href="@Url.Action("Register","WebSite")" class="btn btn-primary">Continue</a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="well">
                            <h2>Returning Customer</h2>
                            <p><strong>I am a returning customer</strong></p>

                            <div class="form-group">
                                <label class="control-label" for="input-email">E-Mail Address</label>
                                <input type="text" name="email" value="" placeholder="E-Mail Address" id="input-email" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="input-password">Password</label>
                                <input type="password" name="pass" value="" placeholder="Password" id="input-password" class="form-control">
                                <a href="http://livedemo00.template-help.com/opencart_59086/index.php?route=account/forgotten">Forgotten Password</a>
                            </div>
                          
                            <div class="form-group">
                                <input type="submit" value="Login" class="btn btn-primary">
                                <a href="javascript:void(0)" style="margin-top:0!important;color: #fff!important; background-color: #337ab7!important;border-color: #2e6da4!important;" onclick="checkLoginState();" class="btn btn-primary">Facebook Login</a>
                            </div>
                        
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
   
</div>
<!-- FOOTER--->
@Html.Partial("Footer")
<!--END FOOTER--->
