  
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayOutNew.cshtml";
}
<!--HEADER--->
@Html.Partial("Header")
<!--END HEADER--->

<div class="container">
    <ul class="breadcrumb">
        <li><a href="http://livedemo00.template-help.com/opencart_59086/index.php?route=common/home"><i class="fa fa-home"></i></a></li>
        <li><a href="http://livedemo00.template-help.com/opencart_59086/index.php?route=account/account">Account</a></li>
        <li><span>Register</span></li>
    </ul>
    <div class="row">
        <div id="content" class="col-sm-12">
            <h1>Register Account</h1>
            <p>If you already have an account with us, please login at the <a href="http://livedemo00.template-help.com/opencart_59086/index.php?route=account/login">login page</a>.</p>
            <form action="http://livedemo00.template-help.com/opencart_59086/index.php?route=account/register" method="post" enctype="multipart/form-data" class="form-horizontal">
                <fieldset id="account">
                    <legend>Your Personal Details</legend>
                    <div class="form-group required" style="display: none;">
                        <label class="col-sm-2 control-label">Customer Group</label>
                        <div class="col-sm-10">
                            <div class="radio">
                                <input type="radio" name="customer_group_id" value="1" checked="checked" id="customer_group_id1"><label for="customer_group_id1">

                                    Default
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-firstname">First Name</label>
                        <div class="col-sm-10">
                            <input type="text" name="firstname" value="" placeholder="First Name" id="input-firstname" class="form-control">
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-lastname">Last Name</label>
                        <div class="col-sm-10">
                            <input type="text" name="lastname" value="" placeholder="Last Name" id="input-lastname" class="form-control">
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-email">E-Mail</label>
                        <div class="col-sm-10">
                            <input type="email" name="email" value="" placeholder="E-Mail" id="input-email" class="form-control">
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-telephone">Telephone</label>
                        <div class="col-sm-10">
                            <input type="tel" name="telephone" value="" placeholder="Telephone" id="input-telephone" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-fax">Fax</label>
                        <div class="col-sm-10">
                            <input type="text" name="fax" value="" placeholder="Fax" id="input-fax" class="form-control">
                        </div>
                    </div>
                </fieldset>
                <fieldset id="address">
                    <legend>Your Address</legend>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-company">Company</label>
                        <div class="col-sm-10">
                            <input type="text" name="company" value="" placeholder="Company" id="input-company" class="form-control">
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-address-1">Address 1</label>
                        <div class="col-sm-10">
                            <input type="text" name="address_1" value="" placeholder="Address 1" id="input-address-1" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-address-2">Address 2</label>
                        <div class="col-sm-10">
                            <input type="text" name="address_2" value="" placeholder="Address 2" id="input-address-2" class="form-control">
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-city">City</label>
                        <div class="col-sm-10">
                            <input type="text" name="city" value="" placeholder="City" id="input-city" class="form-control">
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-postcode">Post Code</label>
                        <div class="col-sm-10">
                            <input type="text" name="postcode" value="" placeholder="Post Code" id="input-postcode" class="form-control">
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-country">Country</label>
                        <div class="col-sm-10">
                            <div id="sbHolder_72553183" class="sbHolder"><a id="sbToggle_72553183" href="#" class="sbToggle"></a><a id="sbSelector_72553183" href="#" class="sbSelector">United Kingdom</a><ul id="sbOptions_72553183" class="sbOptions" style="display: none;"><li><a href="#" rel=""> --- Please Select --- </a></li><li><a href="#244" rel="244">Aaland Islands</a></li><li><a href="#1" rel="1">Afghanistan</a></li><li><a href="#2" rel="2">Albania</a></li><li><a href="#3" rel="3">Algeria</a></li><li><a href="#4" rel="4">American Samoa</a></li><li><a href="#5" rel="5">Andorra</a></li><li><a href="#6" rel="6">Angola</a></li><li><a href="#7" rel="7">Anguilla</a></li><li><a href="#8" rel="8">Antarctica</a></li><li><a href="#9" rel="9">Antigua and Barbuda</a></li><li><a href="#10" rel="10">Argentina</a></li><li><a href="#11" rel="11">Armenia</a></li><li><a href="#12" rel="12">Aruba</a></li><li><a href="#252" rel="252">Ascension Island (British)</a></li><li><a href="#13" rel="13">Australia</a></li><li><a href="#14" rel="14">Austria</a></li><li><a href="#15" rel="15">Azerbaijan</a></li><li><a href="#16" rel="16">Bahamas</a></li><li><a href="#17" rel="17">Bahrain</a></li><li><a href="#18" rel="18">Bangladesh</a></li><li><a href="#19" rel="19">Barbados</a></li><li><a href="#20" rel="20">Belarus</a></li><li><a href="#21" rel="21">Belgium</a></li><li><a href="#22" rel="22">Belize</a></li><li><a href="#23" rel="23">Benin</a></li><li><a href="#24" rel="24">Bermuda</a></li><li><a href="#25" rel="25">Bhutan</a></li><li><a href="#26" rel="26">Bolivia</a></li><li><a href="#245" rel="245">Bonaire, Sint Eustatius and Saba</a></li><li><a href="#27" rel="27">Bosnia and Herzegovina</a></li><li><a href="#28" rel="28">Botswana</a></li><li><a href="#29" rel="29">Bouvet Island</a></li><li><a href="#30" rel="30">Brazil</a></li><li><a href="#31" rel="31">British Indian Ocean Territory</a></li><li><a href="#32" rel="32">Brunei Darussalam</a></li><li><a href="#33" rel="33">Bulgaria</a></li><li><a href="#34" rel="34">Burkina Faso</a></li><li><a href="#35" rel="35">Burundi</a></li><li><a href="#36" rel="36">Cambodia</a></li><li><a href="#37" rel="37">Cameroon</a></li><li><a href="#38" rel="38">Canada</a></li><li><a href="#251" rel="251">Canary Islands</a></li><li><a href="#39" rel="39">Cape Verde</a></li><li><a href="#40" rel="40">Cayman Islands</a></li><li><a href="#41" rel="41">Central African Republic</a></li><li><a href="#42" rel="42">Chad</a></li><li><a href="#43" rel="43">Chile</a></li><li><a href="#44" rel="44">China</a></li><li><a href="#45" rel="45">Christmas Island</a></li><li><a href="#46" rel="46">Cocos (Keeling) Islands</a></li><li><a href="#47" rel="47">Colombia</a></li><li><a href="#48" rel="48">Comoros</a></li><li><a href="#49" rel="49">Congo</a></li><li><a href="#50" rel="50">Cook Islands</a></li><li><a href="#51" rel="51">Costa Rica</a></li><li><a href="#52" rel="52">Cote D'Ivoire</a></li><li><a href="#53" rel="53">Croatia</a></li><li><a href="#54" rel="54">Cuba</a></li><li><a href="#246" rel="246">Curacao</a></li><li><a href="#55" rel="55">Cyprus</a></li><li><a href="#56" rel="56">Czech Republic</a></li><li><a href="#237" rel="237">Democratic Republic of Congo</a></li><li><a href="#57" rel="57">Denmark</a></li><li><a href="#58" rel="58">Djibouti</a></li><li><a href="#59" rel="59">Dominica</a></li><li><a href="#60" rel="60">Dominican Republic</a></li><li><a href="#61" rel="61">East Timor</a></li><li><a href="#62" rel="62">Ecuador</a></li><li><a href="#63" rel="63">Egypt</a></li><li><a href="#64" rel="64">El Salvador</a></li><li><a href="#65" rel="65">Equatorial Guinea</a></li><li><a href="#66" rel="66">Eritrea</a></li><li><a href="#67" rel="67">Estonia</a></li><li><a href="#68" rel="68">Ethiopia</a></li><li><a href="#69" rel="69">Falkland Islands (Malvinas)</a></li><li><a href="#70" rel="70">Faroe Islands</a></li><li><a href="#71" rel="71">Fiji</a></li><li><a href="#72" rel="72">Finland</a></li><li><a href="#74" rel="74">France, Metropolitan</a></li><li><a href="#75" rel="75">French Guiana</a></li><li><a href="#76" rel="76">French Polynesia</a></li><li><a href="#77" rel="77">French Southern Territories</a></li><li><a href="#126" rel="126">FYROM</a></li><li><a href="#78" rel="78">Gabon</a></li><li><a href="#79" rel="79">Gambia</a></li><li><a href="#80" rel="80">Georgia</a></li><li><a href="#81" rel="81">Germany</a></li><li><a href="#82" rel="82">Ghana</a></li><li><a href="#83" rel="83">Gibraltar</a></li><li><a href="#84" rel="84">Greece</a></li><li><a href="#85" rel="85">Greenland</a></li><li><a href="#86" rel="86">Grenada</a></li><li><a href="#87" rel="87">Guadeloupe</a></li><li><a href="#88" rel="88">Guam</a></li><li><a href="#89" rel="89">Guatemala</a></li><li><a href="#256" rel="256">Guernsey</a></li><li><a href="#90" rel="90">Guinea</a></li><li><a href="#91" rel="91">Guinea-Bissau</a></li><li><a href="#92" rel="92">Guyana</a></li><li><a href="#93" rel="93">Haiti</a></li><li><a href="#94" rel="94">Heard and Mc Donald Islands</a></li><li><a href="#95" rel="95">Honduras</a></li><li><a href="#96" rel="96">Hong Kong</a></li><li><a href="#97" rel="97">Hungary</a></li><li><a href="#98" rel="98">Iceland</a></li><li><a href="#99" rel="99">India</a></li><li><a href="#100" rel="100">Indonesia</a></li><li><a href="#101" rel="101">Iran (Islamic Republic of)</a></li><li><a href="#102" rel="102">Iraq</a></li><li><a href="#103" rel="103">Ireland</a></li><li><a href="#254" rel="254">Isle of Man</a></li><li><a href="#104" rel="104">Israel</a></li><li><a href="#105" rel="105">Italy</a></li><li><a href="#106" rel="106">Jamaica</a></li><li><a href="#107" rel="107">Japan</a></li><li><a href="#257" rel="257">Jersey</a></li><li><a href="#108" rel="108">Jordan</a></li><li><a href="#109" rel="109">Kazakhstan</a></li><li><a href="#110" rel="110">Kenya</a></li><li><a href="#111" rel="111">Kiribati</a></li><li><a href="#253" rel="253">Kosovo, Republic of</a></li><li><a href="#114" rel="114">Kuwait</a></li><li><a href="#115" rel="115">Kyrgyzstan</a></li><li><a href="#116" rel="116">Lao People's Democratic Republic</a></li><li><a href="#117" rel="117">Latvia</a></li><li><a href="#118" rel="118">Lebanon</a></li><li><a href="#119" rel="119">Lesotho</a></li><li><a href="#120" rel="120">Liberia</a></li><li><a href="#121" rel="121">Libyan Arab Jamahiriya</a></li><li><a href="#122" rel="122">Liechtenstein</a></li><li><a href="#123" rel="123">Lithuania</a></li><li><a href="#124" rel="124">Luxembourg</a></li><li><a href="#125" rel="125">Macau</a></li><li><a href="#127" rel="127">Madagascar</a></li><li><a href="#128" rel="128">Malawi</a></li><li><a href="#129" rel="129">Malaysia</a></li><li><a href="#130" rel="130">Maldives</a></li><li><a href="#131" rel="131">Mali</a></li><li><a href="#132" rel="132">Malta</a></li><li><a href="#133" rel="133">Marshall Islands</a></li><li><a href="#134" rel="134">Martinique</a></li><li><a href="#135" rel="135">Mauritania</a></li><li><a href="#136" rel="136">Mauritius</a></li><li><a href="#137" rel="137">Mayotte</a></li><li><a href="#138" rel="138">Mexico</a></li><li><a href="#139" rel="139">Micronesia, Federated States of</a></li><li><a href="#140" rel="140">Moldova, Republic of</a></li><li><a href="#141" rel="141">Monaco</a></li><li><a href="#142" rel="142">Mongolia</a></li><li><a href="#242" rel="242">Montenegro</a></li><li><a href="#143" rel="143">Montserrat</a></li><li><a href="#144" rel="144">Morocco</a></li><li><a href="#145" rel="145">Mozambique</a></li><li><a href="#146" rel="146">Myanmar</a></li><li><a href="#147" rel="147">Namibia</a></li><li><a href="#148" rel="148">Nauru</a></li><li><a href="#149" rel="149">Nepal</a></li><li><a href="#150" rel="150">Netherlands</a></li><li><a href="#151" rel="151">Netherlands Antilles</a></li><li><a href="#152" rel="152">New Caledonia</a></li><li><a href="#153" rel="153">New Zealand</a></li><li><a href="#154" rel="154">Nicaragua</a></li><li><a href="#155" rel="155">Niger</a></li><li><a href="#156" rel="156">Nigeria</a></li><li><a href="#157" rel="157">Niue</a></li><li><a href="#158" rel="158">Norfolk Island</a></li><li><a href="#112" rel="112">North Korea</a></li><li><a href="#159" rel="159">Northern Mariana Islands</a></li><li><a href="#160" rel="160">Norway</a></li><li><a href="#161" rel="161">Oman</a></li><li><a href="#162" rel="162">Pakistan</a></li><li><a href="#163" rel="163">Palau</a></li><li><a href="#247" rel="247">Palestinian Territory, Occupied</a></li><li><a href="#164" rel="164">Panama</a></li><li><a href="#165" rel="165">Papua New Guinea</a></li><li><a href="#166" rel="166">Paraguay</a></li><li><a href="#167" rel="167">Peru</a></li><li><a href="#168" rel="168">Philippines</a></li><li><a href="#169" rel="169">Pitcairn</a></li><li><a href="#170" rel="170">Poland</a></li><li><a href="#171" rel="171">Portugal</a></li><li><a href="#172" rel="172">Puerto Rico</a></li><li><a href="#173" rel="173">Qatar</a></li><li><a href="#174" rel="174">Reunion</a></li><li><a href="#175" rel="175">Romania</a></li><li><a href="#176" rel="176">Russian Federation</a></li><li><a href="#177" rel="177">Rwanda</a></li><li><a href="#178" rel="178">Saint Kitts and Nevis</a></li><li><a href="#179" rel="179">Saint Lucia</a></li><li><a href="#180" rel="180">Saint Vincent and the Grenadines</a></li><li><a href="#181" rel="181">Samoa</a></li><li><a href="#182" rel="182">San Marino</a></li><li><a href="#183" rel="183">Sao Tome and Principe</a></li><li><a href="#184" rel="184">Saudi Arabia</a></li><li><a href="#185" rel="185">Senegal</a></li><li><a href="#243" rel="243">Serbia</a></li><li><a href="#186" rel="186">Seychelles</a></li><li><a href="#187" rel="187">Sierra Leone</a></li><li><a href="#188" rel="188">Singapore</a></li><li><a href="#189" rel="189">Slovak Republic</a></li><li><a href="#190" rel="190">Slovenia</a></li><li><a href="#191" rel="191">Solomon Islands</a></li><li><a href="#192" rel="192">Somalia</a></li><li><a href="#193" rel="193">South Africa</a></li><li><a href="#194" rel="194">South Georgia &amp; South Sandwich Islands</a></li><li><a href="#113" rel="113">South Korea</a></li><li><a href="#248" rel="248">South Sudan</a></li><li><a href="#195" rel="195">Spain</a></li><li><a href="#196" rel="196">Sri Lanka</a></li><li><a href="#249" rel="249">St. Barthelemy</a></li><li><a href="#197" rel="197">St. Helena</a></li><li><a href="#250" rel="250">St. Martin (French part)</a></li><li><a href="#198" rel="198">St. Pierre and Miquelon</a></li><li><a href="#199" rel="199">Sudan</a></li><li><a href="#200" rel="200">Suriname</a></li><li><a href="#201" rel="201">Svalbard and Jan Mayen Islands</a></li><li><a href="#202" rel="202">Swaziland</a></li><li><a href="#203" rel="203">Sweden</a></li><li><a href="#204" rel="204">Switzerland</a></li><li><a href="#205" rel="205">Syrian Arab Republic</a></li><li><a href="#206" rel="206">Taiwan</a></li><li><a href="#207" rel="207">Tajikistan</a></li><li><a href="#208" rel="208">Tanzania, United Republic of</a></li><li><a href="#209" rel="209">Thailand</a></li><li><a href="#210" rel="210">Togo</a></li><li><a href="#211" rel="211">Tokelau</a></li><li><a href="#212" rel="212">Tonga</a></li><li><a href="#213" rel="213">Trinidad and Tobago</a></li><li><a href="#255" rel="255">Tristan da Cunha</a></li><li><a href="#214" rel="214">Tunisia</a></li><li><a href="#215" rel="215">Turkey</a></li><li><a href="#216" rel="216">Turkmenistan</a></li><li><a href="#217" rel="217">Turks and Caicos Islands</a></li><li><a href="#218" rel="218">Tuvalu</a></li><li><a href="#219" rel="219">Uganda</a></li><li><a href="#220" rel="220">Ukraine</a></li><li><a href="#221" rel="221">United Arab Emirates</a></li><li><a href="#222" rel="222" class="sbFocus">United Kingdom</a></li><li><a href="#223" rel="223">United States</a></li><li><a href="#224" rel="224">United States Minor Outlying Islands</a></li><li><a href="#225" rel="225">Uruguay</a></li><li><a href="#226" rel="226">Uzbekistan</a></li><li><a href="#227" rel="227">Vanuatu</a></li><li><a href="#228" rel="228">Vatican City State (Holy See)</a></li><li><a href="#229" rel="229">Venezuela</a></li><li><a href="#230" rel="230">Viet Nam</a></li><li><a href="#231" rel="231">Virgin Islands (British)</a></li><li><a href="#232" rel="232">Virgin Islands (U.S.)</a></li><li><a href="#233" rel="233">Wallis and Futuna Islands</a></li><li><a href="#234" rel="234">Western Sahara</a></li><li><a href="#235" rel="235">Yemen</a></li><li><a href="#238" rel="238">Zambia</a></li><li><a href="#239" rel="239">Zimbabwe</a></li></ul></div><select name="country_id" id="input-country" class="" sb="72553183" style="display: none;">
                                <option value=""> --- Please Select --- </option>
                                <option value="244">Aaland Islands</option>
                                <option value="1">Afghanistan</option>
                                <option value="2">Albania</option>
                                <option value="3">Algeria</option>
                                <option value="4">American Samoa</option>
                                <option value="5">Andorra</option>
                                <option value="6">Angola</option>
                                <option value="7">Anguilla</option>
                                <option value="8">Antarctica</option>
                                <option value="9">Antigua and Barbuda</option>
                                <option value="10">Argentina</option>
                                <option value="11">Armenia</option>
                                <option value="12">Aruba</option>
                                <option value="252">Ascension Island (British)</option>
                                <option value="13">Australia</option>
                                <option value="14">Austria</option>
                                <option value="15">Azerbaijan</option>
                                <option value="16">Bahamas</option>
                                <option value="17">Bahrain</option>
                                <option value="18">Bangladesh</option>
                                <option value="19">Barbados</option>
                                <option value="20">Belarus</option>
                                <option value="21">Belgium</option>
                                <option value="22">Belize</option>
                                <option value="23">Benin</option>
                                <option value="24">Bermuda</option>
                                <option value="25">Bhutan</option>
                                <option value="26">Bolivia</option>
                                <option value="245">Bonaire, Sint Eustatius and Saba</option>
                                <option value="27">Bosnia and Herzegovina</option>
                                <option value="28">Botswana</option>
                                <option value="29">Bouvet Island</option>
                                <option value="30">Brazil</option>
                                <option value="31">British Indian Ocean Territory</option>
                                <option value="32">Brunei Darussalam</option>
                                <option value="33">Bulgaria</option>
                                <option value="34">Burkina Faso</option>
                                <option value="35">Burundi</option>
                                <option value="36">Cambodia</option>
                                <option value="37">Cameroon</option>
                                <option value="38">Canada</option>
                                <option value="251">Canary Islands</option>
                                <option value="39">Cape Verde</option>
                                <option value="40">Cayman Islands</option>
                                <option value="41">Central African Republic</option>
                                <option value="42">Chad</option>
                                <option value="43">Chile</option>
                                <option value="44">China</option>
                                <option value="45">Christmas Island</option>
                                <option value="46">Cocos (Keeling) Islands</option>
                                <option value="47">Colombia</option>
                                <option value="48">Comoros</option>
                                <option value="49">Congo</option>
                                <option value="50">Cook Islands</option>
                                <option value="51">Costa Rica</option>
                                <option value="52">Cote D'Ivoire</option>
                                <option value="53">Croatia</option>
                                <option value="54">Cuba</option>
                                <option value="246">Curacao</option>
                                <option value="55">Cyprus</option>
                                <option value="56">Czech Republic</option>
                                <option value="237">Democratic Republic of Congo</option>
                                <option value="57">Denmark</option>
                                <option value="58">Djibouti</option>
                                <option value="59">Dominica</option>
                                <option value="60">Dominican Republic</option>
                                <option value="61">East Timor</option>
                                <option value="62">Ecuador</option>
                                <option value="63">Egypt</option>
                                <option value="64">El Salvador</option>
                                <option value="65">Equatorial Guinea</option>
                                <option value="66">Eritrea</option>
                                <option value="67">Estonia</option>
                                <option value="68">Ethiopia</option>
                                <option value="69">Falkland Islands (Malvinas)</option>
                                <option value="70">Faroe Islands</option>
                                <option value="71">Fiji</option>
                                <option value="72">Finland</option>
                                <option value="74">France, Metropolitan</option>
                                <option value="75">French Guiana</option>
                                <option value="76">French Polynesia</option>
                                <option value="77">French Southern Territories</option>
                                <option value="126">FYROM</option>
                                <option value="78">Gabon</option>
                                <option value="79">Gambia</option>
                                <option value="80">Georgia</option>
                                <option value="81">Germany</option>
                                <option value="82">Ghana</option>
                                <option value="83">Gibraltar</option>
                                <option value="84">Greece</option>
                                <option value="85">Greenland</option>
                                <option value="86">Grenada</option>
                                <option value="87">Guadeloupe</option>
                                <option value="88">Guam</option>
                                <option value="89">Guatemala</option>
                                <option value="256">Guernsey</option>
                                <option value="90">Guinea</option>
                                <option value="91">Guinea-Bissau</option>
                                <option value="92">Guyana</option>
                                <option value="93">Haiti</option>
                                <option value="94">Heard and Mc Donald Islands</option>
                                <option value="95">Honduras</option>
                                <option value="96">Hong Kong</option>
                                <option value="97">Hungary</option>
                                <option value="98">Iceland</option>
                                <option value="99">India</option>
                                <option value="100">Indonesia</option>
                                <option value="101">Iran (Islamic Republic of)</option>
                                <option value="102">Iraq</option>
                                <option value="103">Ireland</option>
                                <option value="254">Isle of Man</option>
                                <option value="104">Israel</option>
                                <option value="105">Italy</option>
                                <option value="106">Jamaica</option>
                                <option value="107">Japan</option>
                                <option value="257">Jersey</option>
                                <option value="108">Jordan</option>
                                <option value="109">Kazakhstan</option>
                                <option value="110">Kenya</option>
                                <option value="111">Kiribati</option>
                                <option value="253">Kosovo, Republic of</option>
                                <option value="114">Kuwait</option>
                                <option value="115">Kyrgyzstan</option>
                                <option value="116">Lao People's Democratic Republic</option>
                                <option value="117">Latvia</option>
                                <option value="118">Lebanon</option>
                                <option value="119">Lesotho</option>
                                <option value="120">Liberia</option>
                                <option value="121">Libyan Arab Jamahiriya</option>
                                <option value="122">Liechtenstein</option>
                                <option value="123">Lithuania</option>
                                <option value="124">Luxembourg</option>
                                <option value="125">Macau</option>
                                <option value="127">Madagascar</option>
                                <option value="128">Malawi</option>
                                <option value="129">Malaysia</option>
                                <option value="130">Maldives</option>
                                <option value="131">Mali</option>
                                <option value="132">Malta</option>
                                <option value="133">Marshall Islands</option>
                                <option value="134">Martinique</option>
                                <option value="135">Mauritania</option>
                                <option value="136">Mauritius</option>
                                <option value="137">Mayotte</option>
                                <option value="138">Mexico</option>
                                <option value="139">Micronesia, Federated States of</option>
                                <option value="140">Moldova, Republic of</option>
                                <option value="141">Monaco</option>
                                <option value="142">Mongolia</option>
                                <option value="242">Montenegro</option>
                                <option value="143">Montserrat</option>
                                <option value="144">Morocco</option>
                                <option value="145">Mozambique</option>
                                <option value="146">Myanmar</option>
                                <option value="147">Namibia</option>
                                <option value="148">Nauru</option>
                                <option value="149">Nepal</option>
                                <option value="150">Netherlands</option>
                                <option value="151">Netherlands Antilles</option>
                                <option value="152">New Caledonia</option>
                                <option value="153">New Zealand</option>
                                <option value="154">Nicaragua</option>
                                <option value="155">Niger</option>
                                <option value="156">Nigeria</option>
                                <option value="157">Niue</option>
                                <option value="158">Norfolk Island</option>
                                <option value="112">North Korea</option>
                                <option value="159">Northern Mariana Islands</option>
                                <option value="160">Norway</option>
                                <option value="161">Oman</option>
                                <option value="162">Pakistan</option>
                                <option value="163">Palau</option>
                                <option value="247">Palestinian Territory, Occupied</option>
                                <option value="164">Panama</option>
                                <option value="165">Papua New Guinea</option>
                                <option value="166">Paraguay</option>
                                <option value="167">Peru</option>
                                <option value="168">Philippines</option>
                                <option value="169">Pitcairn</option>
                                <option value="170">Poland</option>
                                <option value="171">Portugal</option>
                                <option value="172">Puerto Rico</option>
                                <option value="173">Qatar</option>
                                <option value="174">Reunion</option>
                                <option value="175">Romania</option>
                                <option value="176">Russian Federation</option>
                                <option value="177">Rwanda</option>
                                <option value="178">Saint Kitts and Nevis</option>
                                <option value="179">Saint Lucia</option>
                                <option value="180">Saint Vincent and the Grenadines</option>
                                <option value="181">Samoa</option>
                                <option value="182">San Marino</option>
                                <option value="183">Sao Tome and Principe</option>
                                <option value="184">Saudi Arabia</option>
                                <option value="185">Senegal</option>
                                <option value="243">Serbia</option>
                                <option value="186">Seychelles</option>
                                <option value="187">Sierra Leone</option>
                                <option value="188">Singapore</option>
                                <option value="189">Slovak Republic</option>
                                <option value="190">Slovenia</option>
                                <option value="191">Solomon Islands</option>
                                <option value="192">Somalia</option>
                                <option value="193">South Africa</option>
                                <option value="194">South Georgia &amp; South Sandwich Islands</option>
                                <option value="113">South Korea</option>
                                <option value="248">South Sudan</option>
                                <option value="195">Spain</option>
                                <option value="196">Sri Lanka</option>
                                <option value="249">St. Barthelemy</option>
                                <option value="197">St. Helena</option>
                                <option value="250">St. Martin (French part)</option>
                                <option value="198">St. Pierre and Miquelon</option>
                                <option value="199">Sudan</option>
                                <option value="200">Suriname</option>
                                <option value="201">Svalbard and Jan Mayen Islands</option>
                                <option value="202">Swaziland</option>
                                <option value="203">Sweden</option>
                                <option value="204">Switzerland</option>
                                <option value="205">Syrian Arab Republic</option>
                                <option value="206">Taiwan</option>
                                <option value="207">Tajikistan</option>
                                <option value="208">Tanzania, United Republic of</option>
                                <option value="209">Thailand</option>
                                <option value="210">Togo</option>
                                <option value="211">Tokelau</option>
                                <option value="212">Tonga</option>
                                <option value="213">Trinidad and Tobago</option>
                                <option value="255">Tristan da Cunha</option>
                                <option value="214">Tunisia</option>
                                <option value="215">Turkey</option>
                                <option value="216">Turkmenistan</option>
                                <option value="217">Turks and Caicos Islands</option>
                                <option value="218">Tuvalu</option>
                                <option value="219">Uganda</option>
                                <option value="220">Ukraine</option>
                                <option value="221">United Arab Emirates</option>
                                <option value="222" selected="selected">United Kingdom</option>
                                <option value="223">United States</option>
                                <option value="224">United States Minor Outlying Islands</option>
                                <option value="225">Uruguay</option>
                                <option value="226">Uzbekistan</option>
                                <option value="227">Vanuatu</option>
                                <option value="228">Vatican City State (Holy See)</option>
                                <option value="229">Venezuela</option>
                                <option value="230">Viet Nam</option>
                                <option value="231">Virgin Islands (British)</option>
                                <option value="232">Virgin Islands (U.S.)</option>
                                <option value="233">Wallis and Futuna Islands</option>
                                <option value="234">Western Sahara</option>
                                <option value="235">Yemen</option>
                                <option value="238">Zambia</option>
                                <option value="239">Zimbabwe</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-zone">Region / State</label>
                        <div class="col-sm-10">
                            <div id="sbHolder_36974100" class="sbHolder"><a id="sbToggle_36974100" href="#" class="sbToggle"></a><a id="sbSelector_36974100" href="#" class="sbSelector"> --- Please Select --- </a><ul id="sbOptions_36974100" class="sbOptions" style="display: none;"><li><a href="#" rel="" class="sbFocus"> --- Please Select --- </a></li><li><a href="#3513" rel="3513">Aberdeen</a></li><li><a href="#3514" rel="3514">Aberdeenshire</a></li><li><a href="#3515" rel="3515">Anglesey</a></li><li><a href="#3516" rel="3516">Angus</a></li><li><a href="#3517" rel="3517">Argyll and Bute</a></li><li><a href="#3518" rel="3518">Bedfordshire</a></li><li><a href="#3519" rel="3519">Berkshire</a></li><li><a href="#3520" rel="3520">Blaenau Gwent</a></li><li><a href="#3521" rel="3521">Bridgend</a></li><li><a href="#3522" rel="3522">Bristol</a></li><li><a href="#3523" rel="3523">Buckinghamshire</a></li><li><a href="#3524" rel="3524">Caerphilly</a></li><li><a href="#3525" rel="3525">Cambridgeshire</a></li><li><a href="#3526" rel="3526">Cardiff</a></li><li><a href="#3527" rel="3527">Carmarthenshire</a></li><li><a href="#3528" rel="3528">Ceredigion</a></li><li><a href="#3529" rel="3529">Cheshire</a></li><li><a href="#3530" rel="3530">Clackmannanshire</a></li><li><a href="#3531" rel="3531">Conwy</a></li><li><a href="#3532" rel="3532">Cornwall</a></li><li><a href="#3949" rel="3949">County Antrim</a></li><li><a href="#3950" rel="3950">County Armagh</a></li><li><a href="#3951" rel="3951">County Down</a></li><li><a href="#3952" rel="3952">County Fermanagh</a></li><li><a href="#3953" rel="3953">County Londonderry</a></li><li><a href="#3954" rel="3954">County Tyrone</a></li><li><a href="#3955" rel="3955">Cumbria</a></li><li><a href="#3533" rel="3533">Denbighshire</a></li><li><a href="#3534" rel="3534">Derbyshire</a></li><li><a href="#3535" rel="3535">Devon</a></li><li><a href="#3536" rel="3536">Dorset</a></li><li><a href="#3537" rel="3537">Dumfries and Galloway</a></li><li><a href="#3538" rel="3538">Dundee</a></li><li><a href="#3539" rel="3539">Durham</a></li><li><a href="#3540" rel="3540">East Ayrshire</a></li><li><a href="#3541" rel="3541">East Dunbartonshire</a></li><li><a href="#3542" rel="3542">East Lothian</a></li><li><a href="#3543" rel="3543">East Renfrewshire</a></li><li><a href="#3544" rel="3544">East Riding of Yorkshire</a></li><li><a href="#3545" rel="3545">East Sussex</a></li><li><a href="#3546" rel="3546">Edinburgh</a></li><li><a href="#3547" rel="3547">Essex</a></li><li><a href="#3548" rel="3548">Falkirk</a></li><li><a href="#3549" rel="3549">Fife</a></li><li><a href="#3550" rel="3550">Flintshire</a></li><li><a href="#3551" rel="3551">Glasgow</a></li><li><a href="#3552" rel="3552">Gloucestershire</a></li><li><a href="#3553" rel="3553">Greater London</a></li><li><a href="#3554" rel="3554">Greater Manchester</a></li><li><a href="#3555" rel="3555">Gwynedd</a></li><li><a href="#3556" rel="3556">Hampshire</a></li><li><a href="#3557" rel="3557">Herefordshire</a></li><li><a href="#3558" rel="3558">Hertfordshire</a></li><li><a href="#3559" rel="3559">Highlands</a></li><li><a href="#3560" rel="3560">Inverclyde</a></li><li><a href="#3561" rel="3561">Isle of Wight</a></li><li><a href="#3562" rel="3562">Kent</a></li><li><a href="#3563" rel="3563">Lancashire</a></li><li><a href="#3564" rel="3564">Leicestershire</a></li><li><a href="#3565" rel="3565">Lincolnshire</a></li><li><a href="#3566" rel="3566">Merseyside</a></li><li><a href="#3567" rel="3567">Merthyr Tydfil</a></li><li><a href="#3568" rel="3568">Midlothian</a></li><li><a href="#3569" rel="3569">Monmouthshire</a></li><li><a href="#3570" rel="3570">Moray</a></li><li><a href="#3571" rel="3571">Neath Port Talbot</a></li><li><a href="#3572" rel="3572">Newport</a></li><li><a href="#3573" rel="3573">Norfolk</a></li><li><a href="#3574" rel="3574">North Ayrshire</a></li><li><a href="#3575" rel="3575">North Lanarkshire</a></li><li><a href="#3576" rel="3576">North Yorkshire</a></li><li><a href="#3577" rel="3577">Northamptonshire</a></li><li><a href="#3578" rel="3578">Northumberland</a></li><li><a href="#3579" rel="3579">Nottinghamshire</a></li><li><a href="#3580" rel="3580">Orkney Islands</a></li><li><a href="#3581" rel="3581">Oxfordshire</a></li><li><a href="#3582" rel="3582">Pembrokeshire</a></li><li><a href="#3583" rel="3583">Perth and Kinross</a></li><li><a href="#3584" rel="3584">Powys</a></li><li><a href="#3585" rel="3585">Renfrewshire</a></li><li><a href="#3586" rel="3586">Rhondda Cynon Taff</a></li><li><a href="#3587" rel="3587">Rutland</a></li><li><a href="#3588" rel="3588">Scottish Borders</a></li><li><a href="#3589" rel="3589">Shetland Islands</a></li><li><a href="#3590" rel="3590">Shropshire</a></li><li><a href="#3591" rel="3591">Somerset</a></li><li><a href="#3592" rel="3592">South Ayrshire</a></li><li><a href="#3593" rel="3593">South Lanarkshire</a></li><li><a href="#3594" rel="3594">South Yorkshire</a></li><li><a href="#3595" rel="3595">Staffordshire</a></li><li><a href="#3596" rel="3596">Stirling</a></li><li><a href="#3597" rel="3597">Suffolk</a></li><li><a href="#3598" rel="3598">Surrey</a></li><li><a href="#3599" rel="3599">Swansea</a></li><li><a href="#3600" rel="3600">Torfaen</a></li><li><a href="#3601" rel="3601">Tyne and Wear</a></li><li><a href="#3602" rel="3602">Vale of Glamorgan</a></li><li><a href="#3603" rel="3603">Warwickshire</a></li><li><a href="#3604" rel="3604">West Dunbartonshire</a></li><li><a href="#3605" rel="3605">West Lothian</a></li><li><a href="#3606" rel="3606">West Midlands</a></li><li><a href="#3607" rel="3607">West Sussex</a></li><li><a href="#3608" rel="3608">West Yorkshire</a></li><li><a href="#3609" rel="3609">Western Isles</a></li><li><a href="#3610" rel="3610">Wiltshire</a></li><li><a href="#3611" rel="3611">Worcestershire</a></li><li><a href="#3612" rel="3612">Wrexham</a></li></ul></div><select name="zone_id" id="input-zone" class="" sb="36974100" style="display: none;"><option value=""> --- Please Select --- </option><option value="3513">Aberdeen</option><option value="3514">Aberdeenshire</option><option value="3515">Anglesey</option><option value="3516">Angus</option><option value="3517">Argyll and Bute</option><option value="3518">Bedfordshire</option><option value="3519">Berkshire</option><option value="3520">Blaenau Gwent</option><option value="3521">Bridgend</option><option value="3522">Bristol</option><option value="3523">Buckinghamshire</option><option value="3524">Caerphilly</option><option value="3525">Cambridgeshire</option><option value="3526">Cardiff</option><option value="3527">Carmarthenshire</option><option value="3528">Ceredigion</option><option value="3529">Cheshire</option><option value="3530">Clackmannanshire</option><option value="3531">Conwy</option><option value="3532">Cornwall</option><option value="3949">County Antrim</option><option value="3950">County Armagh</option><option value="3951">County Down</option><option value="3952">County Fermanagh</option><option value="3953">County Londonderry</option><option value="3954">County Tyrone</option><option value="3955">Cumbria</option><option value="3533">Denbighshire</option><option value="3534">Derbyshire</option><option value="3535">Devon</option><option value="3536">Dorset</option><option value="3537">Dumfries and Galloway</option><option value="3538">Dundee</option><option value="3539">Durham</option><option value="3540">East Ayrshire</option><option value="3541">East Dunbartonshire</option><option value="3542">East Lothian</option><option value="3543">East Renfrewshire</option><option value="3544">East Riding of Yorkshire</option><option value="3545">East Sussex</option><option value="3546">Edinburgh</option><option value="3547">Essex</option><option value="3548">Falkirk</option><option value="3549">Fife</option><option value="3550">Flintshire</option><option value="3551">Glasgow</option><option value="3552">Gloucestershire</option><option value="3553">Greater London</option><option value="3554">Greater Manchester</option><option value="3555">Gwynedd</option><option value="3556">Hampshire</option><option value="3557">Herefordshire</option><option value="3558">Hertfordshire</option><option value="3559">Highlands</option><option value="3560">Inverclyde</option><option value="3561">Isle of Wight</option><option value="3562">Kent</option><option value="3563">Lancashire</option><option value="3564">Leicestershire</option><option value="3565">Lincolnshire</option><option value="3566">Merseyside</option><option value="3567">Merthyr Tydfil</option><option value="3568">Midlothian</option><option value="3569">Monmouthshire</option><option value="3570">Moray</option><option value="3571">Neath Port Talbot</option><option value="3572">Newport</option><option value="3573">Norfolk</option><option value="3574">North Ayrshire</option><option value="3575">North Lanarkshire</option><option value="3576">North Yorkshire</option><option value="3577">Northamptonshire</option><option value="3578">Northumberland</option><option value="3579">Nottinghamshire</option><option value="3580">Orkney Islands</option><option value="3581">Oxfordshire</option><option value="3582">Pembrokeshire</option><option value="3583">Perth and Kinross</option><option value="3584">Powys</option><option value="3585">Renfrewshire</option><option value="3586">Rhondda Cynon Taff</option><option value="3587">Rutland</option><option value="3588">Scottish Borders</option><option value="3589">Shetland Islands</option><option value="3590">Shropshire</option><option value="3591">Somerset</option><option value="3592">South Ayrshire</option><option value="3593">South Lanarkshire</option><option value="3594">South Yorkshire</option><option value="3595">Staffordshire</option><option value="3596">Stirling</option><option value="3597">Suffolk</option><option value="3598">Surrey</option><option value="3599">Swansea</option><option value="3600">Torfaen</option><option value="3601">Tyne and Wear</option><option value="3602">Vale of Glamorgan</option><option value="3603">Warwickshire</option><option value="3604">West Dunbartonshire</option><option value="3605">West Lothian</option><option value="3606">West Midlands</option><option value="3607">West Sussex</option><option value="3608">West Yorkshire</option><option value="3609">Western Isles</option><option value="3610">Wiltshire</option><option value="3611">Worcestershire</option><option value="3612">Wrexham</option></select>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Your Password</legend>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-password">Password</label>
                        <div class="col-sm-10">
                            <input type="password" name="password" value="" placeholder="Password" id="input-password" class="form-control">
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-confirm">Password Confirm</label>
                        <div class="col-sm-10">
                            <input type="password" name="confirm" value="" placeholder="Password Confirm" id="input-confirm" class="form-control">
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Newsletter</legend>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Subscribe</label>
                        <div class="col-sm-10">
                            <input type="radio" name="newsletter" value="1" id="newsletter1"><label class="radio-inline" for="newsletter1">

                                Yes
                            </label>
                            <input type="radio" name="newsletter" value="0" checked="checked" id="newsletter0"><label class="radio-inline" for="newsletter0">

                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
                <div class="buttons">
                    <div class="pull-right">
                        I have read and agree to the <a href="http://livedemo00.template-help.com/opencart_59086/index.php?route=information/information/agree&amp;information_id=3" class="agree"><b>Privacy Policy</b></a> <input type="checkbox" name="agree" value="1" id="agree1"><label for="agree1"></label>
                        &nbsp;
                        <input type="submit" value="Continue" class="btn btn-primary">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

 <!-- FOOTER--->
@Html.Partial("Footer")
<!--END FOOTER--->
