@using BeautyAndCare.Models;
@using System.Linq;
@model tblUser
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayOutNew.cshtml";
    WebSiteEntities db = new WebSiteEntities();
    var queryMenu = from data in db.tblMenus
                    where data.StatusMenu == 1
                    select data;
}
<!--HEADER--->
@Html.Partial("Header", queryMenu.ToList())
<!--END HEADER--->

<div class="container">
    @Html.Partial("Breadcrumb")
    @using (Html.BeginForm("Register", "WebSite","", FormMethod.Post,htmlAttributes:new { @class= "form-horizontal" }))
    {
        <div class="row">
            <div id="content" class="col-sm-12">
                <h1 class="clregister">Đăng ký tài khoản</h1>
                <p> <span class="clnoteregist">Nếu bạn đã có một tài khoản với chúng tôi, xin vui lòng đăng nhập tại</span> <a href="@Url.Action("Login")">Đăng nhập</a>.</p>
               
                    <fieldset id="account">
                        <legend class="clinforegister">Thông tin cá nhân của bạn</legend>
                        <div class="form-group required" style="display: none;">
                            <label class="col-sm-2 control-label">Customer Group</label>
                            <div class="col-sm-10">
                                <div class="radio">
                                    <input type="radio" name="customer_group_id" value="1" checked="checked" id="customer_group_id1"><label for="customer_group_id1">

                                        Default
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label class="col-sm-2 control-label clfirstre" for="input-firstname">Tên </label>
                            <div class="col-sm-10">
                                <input type="text" name="FirtNameUser" value="" placeholder="First Name" id="input-firstname" class="form-control">
                            </div>
                        </div>
                        <div class="form-group required">
                            <label class="col-sm-2 control-label cllastre" for="input-lastname">Họ</label>
                            <div class="col-sm-10">
                                <input type="text" name="LastNameUser" value="" placeholder="Last Name" id="input-lastname" class="form-control">
                            </div>
                        </div>
                        <div class="form-group required">
                            <label class="col-sm-2 control-label" for="input-email">E-Mail</label>
                            <div class="col-sm-10">
                                <input type="email" name="EmailUser" value="" placeholder="E-Mail" id="input-email" class="form-control">
                            </div>
                        </div>
                        <div class="form-group required">
                            <label class="col-sm-2 control-label clcontact_phone" for="input-telephone">Điện thoại</label>
                            <div class="col-sm-10">
                                <input type="tel" name="PhoneUser" value="" placeholder="phone" id="input-telephone" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label claddress">Địa chỉ</label>
                            <div class="col-sm-10">
                                <input type="text" name="AddressUser" value="" placeholder="Address" id="input-Address" class="form-control">
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend class="clyourpass_re">Mật khẩu của bạn</legend>
                        <div class="form-group required">
                            <label class="col-sm-2 control-label clpass_re" for="input-password">Mật khẩu</label>
                            <div class="col-sm-10">
                                <input type="password" name="password" value="" placeholder="Password" id="input-password" class="form-control">
                            </div>
                        </div>
                        <div class="form-group required">
                            <label class="col-sm-2 control-label clpasscom_re" for="input-confirm">Xác nhận mật khẩu</label>
                            <div class="col-sm-10">
                                <input type="password" name="PassUser" value="" placeholder="Password Confirm" id="input-confirm" class="form-control">
                            </div>
                        </div>
                    </fieldset>

                   
                        @*<fieldset>
                            <legend class="clyourpass_re">Tài khoản của bạn đã tồn tại</legend>

                        </fieldset>*@
                    
               
               
                    <div class="buttons">
                        <div class="pull-right">
                            @*I have read and agree to the <a href="http://livedemo00.template-help.com/opencart_59086/index.php?route=information/information/agree&amp;information_id=3" class="agree"><b>Privacy Policy</b></a> <input type="checkbox" name="agree" value="1" id="agree1"><label for="agree1"></label>
                            &nbsp;*@
                            <input type="submit" value="Continue" class="btn btn-primary">
                        </div>
                    </div>
             
            </div>
        </div>
    }
   
</div>

 <!-- FOOTER--->
@Html.Partial("Footer")
<!--END FOOTER--->
