@using BeautyAndCare.Models;
@using System.Linq;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayOutNew.cshtml";
    WebSiteEntities db = new WebSiteEntities();
    var queryMenu = from data in db.tblMenus
                    where data.StatusMenu == 1
                    select data;
}
<!--HEADER--->
@Html.Partial("Header", queryMenu.ToList())
<!--END HEADER--->

<div class="container">
    <ul class="breadcrumb">
        <li><a href="http://livedemo00.template-help.com/opencart_59086/index.php?route=common/home"><i class="fa fa-home"></i></a></li>
        <li><a href="http://livedemo00.template-help.com/opencart_59086/index.php?route=account/account">Account</a></li>
        <li><span>Register</span></li>
    </ul>
    @using (Html.BeginForm("Register", "WebSite","", FormMethod.Post,htmlAttributes:new { @class= "form-horizontal" }))
    {
        <div class="row">
            <div id="content" class="col-sm-12">
                <h1>Register Account</h1>
                <p>If you already have an account with us, please login at the <a href="@Url.Action("Login")">login page</a>.</p>
               
                    <fieldset id="account">
                        <legend>Your Personal Details</legend>
                        <div class="form-group required" style="display: none;">
                            <label class="col-sm-2 control-label">Customer Group</label>
                            <div class="col-sm-10">
                                <div class="radio">
                                    <input type="radio" name="customer_group_id" value="1" checked="checked" id="customer_group_id1"><label for="customer_group_id1">

                                        Default
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label class="col-sm-2 control-label" for="input-firstname">First Name</label>
                            <div class="col-sm-10">
                                <input type="text" name="FirtNameUser" value="" placeholder="First Name" id="input-firstname" class="form-control">
                            </div>
                        </div>
                        <div class="form-group required">
                            <label class="col-sm-2 control-label" for="input-lastname">Last Name</label>
                            <div class="col-sm-10">
                                <input type="text" name="LastNameUser" value="" placeholder="Last Name" id="input-lastname" class="form-control">
                            </div>
                        </div>
                        <div class="form-group required">
                            <label class="col-sm-2 control-label" for="input-email">E-Mail</label>
                            <div class="col-sm-10">
                                <input type="email" name="EmailUser" value="" placeholder="E-Mail" id="input-email" class="form-control">
                            </div>
                        </div>
                        <div class="form-group required">
                            <label class="col-sm-2 control-label" for="input-telephone">Telephone</label>
                            <div class="col-sm-10">
                                <input type="tel" name="PhoneUser" value="" placeholder="phone" id="input-telephone" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Address</label>
                            <div class="col-sm-10">
                                <input type="text" name="AddressUser" value="" placeholder="Address" id="input-Address" class="form-control">
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Your Password</legend>
                        <div class="form-group required">
                            <label class="col-sm-2 control-label" for="input-password">Password</label>
                            <div class="col-sm-10">
                                <input type="password" name="password" value="" placeholder="Password" id="input-password" class="form-control">
                            </div>
                        </div>
                        <div class="form-group required">
                            <label class="col-sm-2 control-label" for="input-confirm">Password Confirm</label>
                            <div class="col-sm-10">
                                <input type="password" name="PassUser" value="" placeholder="Password Confirm" id="input-confirm" class="form-control">
                            </div>
                        </div>
                    </fieldset>
                    @*<fieldset>
                        <legend>Newsletter</legend>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Subscribe</label>
                            <div class="col-sm-10">
                                <input type="radio" name="SubscribeUser" value="1" checked="checked" id="newsletter1"><label class="radio-inline" for="newsletter1">

                                    Yes
                                </label>
                                <input type="radio" name="SubscribeUser" value="0"  id="newsletter0"><label class="radio-inline" for="newsletter0">

                                    No
                                </label>
                            </div>
                        </div>
                    </fieldset>*@
                    <div class="buttons">
                        <div class="pull-right">
                            @*I have read and agree to the <a href="http://livedemo00.template-help.com/opencart_59086/index.php?route=information/information/agree&amp;information_id=3" class="agree"><b>Privacy Policy</b></a> <input type="checkbox" name="agree" value="1" id="agree1"><label for="agree1"></label>
                            &nbsp;*@
                            <input type="submit" value="Continue" class="btn btn-primary">
                        </div>
                    </div>
             
            </div>
        </div>
    }
   
</div>

 <!-- FOOTER--->
@Html.Partial("Footer")
<!--END FOOTER--->
